<div class="container">

  <%= simple_form_for(
        resource,
        as: resource_name,
        url: registration_path(resource_name),
        html: { method: :put, class: 'green_form' },
        defaults: {
          wrapper_html: { class: 'form-group' }
        }
    ) do |f| %>

    <div class="form-inputs">

      <%= f.error_notification %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, label: 'Mot de passe', autocomplete: "off", placeholder: "ne rien écrire si vous gardez votre mot de passe" %>
      <%= f.input :password_confirmation, label: 'Confirmation mot de passe', placeholder: "ne rien écrire si vous gardez votre mot de passe" %>
      <%= f.input :pseudo %>
      <%= f.input :first_name, label: 'Prénom' %>
      <%= f.input :name, label: 'Nom' %>
      <div class="form-group"
        <%= f.label  "Date de naissance" %> </br>
        <%= f.date_field :birth_date, as: :date, label: "Date de naissance" %>
      </div>
      <%= f.input :adress, label: 'Adresse' %>
      <%= f.input :zip, label: 'Code postal' %>
      <%= f.input :town, label: 'Ville' %>
      <%= f.input :country, priority: [ "France" ], label: 'Pays' %>

      <hr />

      <%= f.input :bio, label: "Qui êtes-vous en quelques mots " %>

      <hr />

      <%= f.input :avatar, label: 'Choisir une image' %>

      <hr />

      <%= f.input :roles, as: :boolean, label: "Je suis un professionnel" %>

    </div>

    <hr />

    <div class="form-actions btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <%= f.button :submit, "Enregistrer", class: 'btn btn-default' %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Annuler', session[:request_back], class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>

</div>
