<div class="container">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
      <%= f.input :pseudo %>

      <% if current_member.avatar.url.present? %>
        <%= cl_image_tag current_member.avatar.url, width: 60, height: 60, crop: :fill,
                          radius: 5,  :border => { :width => 4, :color => "#553311" }, :gravity => :face %>
      <% end %>

      <%= f.input :avatar, :label => "Changer d image" %>
      <%= f.input :first_name %>
      <%= f.input :name %>
      <%= f.input :bio %>
      <%= f.input :birth_date %>
      <%= f.input :adress %>
      <%= f.input :zip %>
      <%= f.input :town %>
      <%= f.country_select :country %>
    </div>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

<%= link_to destroy_member_session_path, method: :delete do %>
  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

</div>

