<p id="notice"><%= notice %></p>

<h1>View Data</h1>

<table>
  <thead>
    <tr>
      <th>Data type</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @view_data.each do |view_datum| %>
      <tr>
        <td><%= view_datum.data_type %></td>
        <td><%= view_datum.content %></td>
        <td><%= link_to 'Show', view_datum %></td>
        <td><%= link_to 'Edit', edit_view_datum_path(view_datum) %></td>
        <td><%= link_to 'Destroy', view_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New View Datum', new_view_datum_path %>
