<table class="table">
<thead>
    <tr>
    <th>Evènement</th>
    <th>Date</th>
    <th>Prix</th>
    <th>Lieu</th>
    <th>Organisateur</th>
    <th>Places disponibles</th>
    <th></th>
    <th></th>
    </tr>
</thead>

<tbody>
    <% @events.each do |event| %>
    <tr>
        <td><%= event.title %></td>
        <td><%= I18n.l(event.begin, format: '%-d %B') %></td>
        <td><%= event.price_max.to_s + '€' %></td>
        <td>
        <span class="glyphicon glyphicon-map-marker pointer" aria-hidden="true"></span> 
        <%= event.zip %></td>
        <td><%= event.organizer.email %></td>
        <td><%= (event.members_max - event.attendees.size).to_s + ' / ' + event.members_max.to_s %></td>
        <td>
        <% if event.participate?(current_member) %>
            <%= link_to 'Se désinscrire', participate_path(id: event.id, status: 'out'), class: 'badge', remote: true %>
        <% else %>
            <%= link_to 'Y participer', participate_path(id: event.id, status: 'in'), class: 'badge', remote: true %>
        <% end %>
        </td>
        <td><%= link_to event do %>
            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
        <% end %>
        </td>
    </tr>
    <% end %>
</tbody>
</table>