<table class="table">
<thead>
    <tr>
        <th>Evènement</th>
        <th>Date</th>
        <th>Prix</th>
        <th>Lieu</th>
        <th>Orga</th>
        <th>Participants</th>
        <% if member_signed_in? && !current_member.has_role?(:professional) %>
            <th></th>
        <% end %>
    </tr>
</thead>

<tbody>
    <% events_partial.each do |event| %>
    <tr>
        <td>
            <%= link_to event do %>
                <div>
                    <%= event.title[0..40] %>
                    <% if event.title.length > 40 %>
                         (...)
                    <% end %>
                </div>
            <% end %>
        </td>
        <td><%= I18n.l(event.begin, format: '%-d %b %Y - %Hh%M') %></td>
        <td>
            <%= event.price_min.to_s + '€ - ' if event.price_min != event.price_max %>
            <%= event.price_max.to_s + '€' %>
        </td>
        <td class="location pointer" onclick="showMap(<%= event.zip %>)">
            <span class="location_icon glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <%= event.zip %>
        </td>
        <td>
            <% event.organizer.has_role?(:professional) ? @title = "pro-"+event.organizer.pseudo : @title = event.organizer.pseudo  %>

            <%= link_to event.organizer, title: @title do %>
                <div class="organizer">
                    <% if event.organizer.avatar.url.present? %>
                        <%= cl_image_tag event.organizer.avatar.file.filename, width: 30, height: 30 %>
                    <% else %>
                        <%= cl_image_tag 'eyht3fmfxk8b1o3zsykt.png', width: 30, height: 30 %>
                    <% end %>
                    <% if event.organizer.has_role?(:professional) %>
                        <span class="professional"><%= event.organizer.pseudo[0..10] %> </span>
                    <% else %>
                        <span  class="member"> <%= event.organizer.pseudo[0..10] %> </span>
                    <% end %>
                </div>
            <% end %>
        </td>
        <td id="availability_<%= event.id %>">
                  <%= event.show_availability %>
        </td>
        <% if member_signed_in? && !current_member.has_role?(:professional) %>
            <td>
                <% if event.participate?(current_member) %>
                    <%= link_to 'Se désinscrire', participate_path(id: event.id), id: 'participate_' + event.id.to_s, class: 'badge', remote: true %>
                <% else %>
                    <%= link_to 'Y participer', participate_path(id: event.id), id: 'participate_' + event.id.to_s, class: 'badge participate', remote: true if event.attendees.size != event.members_max || event.members_max == 0 %>
                <% end %>
            </td>
        <% end %>
    </tr>
    <% end %>
</tbody>
</table>
