<table class="table">
<thead>
    <tr>
        <th>Evènement</th>
        <th>Date</th>
        <th>Prix</th>
        <th>Lieu</th>
        <th>Orga</th>
        <th>Participants</th>
        <th></th>
    </tr>
</thead>

<tbody>
    <% events_partial.each do |event| %>
    <tr>
        <td>
            <%= link_to event do %>
                <div>
                    <%= event.title[0..40] %>
                    <% if event.title.length > 40 %>
                         (...)
                    <% end %>
                </div>
            <% end %>
        </td>
        <td><%= I18n.l(event.begin_at, format: '%-d %b %Y - %Hh%M') %></td>
        <td>
            <%= event.show_price %>
        </td>
        <td class="location pointer">
            <% address = event.address + ' ' + event.zip + ' ' + event.city %>
            <%= link_to '#', 'data-toggle':'modal', 'data-target':'#modal_map', 'data-address': address do %>
                <%= event.zip %>
                <span class="location_icon glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <% end %>
        </td>
        <td>
            <% event.organizer.has_role?(:professional) ? @title = "pro-"+event.organizer.pseudo : @title = event.organizer.pseudo  %>

            <%= link_to event.organizer, title: @title do %>
                <div class="organizer">
                    <% if event.organizer.avatar.url.present? %>
                        <%= cl_image_tag event.organizer.avatar.file.filename, width: 30, height: 30 %>
                    <% else %>
                        <%= cl_image_tag 'eyht3fmfxk8b1o3zsykt.png', width: 30, height: 30 %>
                    <% end %>
                    <% if event.organizer.has_role?(:professional) %>
                        <span class="professional"><%= event.organizer.pseudo[0..10] %> </span>
                    <% else %>
                        <span  class="member"> <%= event.organizer.pseudo[0..10] %> </span>
                    <% end %>
                </div>
            <% end %>
        </td>
        <td id="availability_<%= event.id %>">
            <%= event.show_availability %>
        </td>
            <% if member_signed_in? %>
                <% if !current_member.has_role?(:professional) %>
                    <td>
                        <% if event.participate?(current_member) %>
                            <%= link_to 'J\'y vais', participate_path(id: event.id), id: 'participate_' + event.id.to_s, class: 'badge active', 'aria-pressed': 'true', remote: true %>
                        <% else %>
                            <%= link_to 'J\'y vais', participate_path(id: event.id), id: 'participate_' + event.id.to_s, class: 'badge', 'aria-pressed': 'true', remote: true if event.attendees.size != event.members_max || event.members_max == 0 %>
                        <% end %>
                    </td>
                <% end %>
            <% else %>
                <td><%= link_to 'J\'y vais', '#', 'data-toggle':'modal', 'data-target':'#connection', class: 'badge' if event.attendees.size != event.members_max || event.members_max == 0 %></td>
            <% end %>
    </tr>
    <% end %>
</tbody>
</table>

<%= render 'layouts/map', title: 'Localisation' %>

<script>
    $('#modal_map').on('shown.bs.modal', function (event) {
        showMap($(event.relatedTarget).data('address'));
    })
</script>
