<%= stylesheet_link_tag 'event' %>


<div class="container">
  <%= simple_form_for @event, html: { class: 'green_form' } do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title, label: 'Titre' %>
      <%= f.input :description, as: :text, class: "form-control string optional", input_html: {rows: 5}, label: 'Description' %> </br>
      <% if @event.image.url.present? %>
        <%= cl_image_tag @event.image.file.filename, width: 470, height: 142 %>
      <% end %>
      <%= f.input :image, label: 'Image' %>
      <%= f.input :price_min, label: 'Prix min' %>
      <%= f.input :price_max, label: 'Prix max' %>
      <%= f.input :members_max, label: 'Nb de participants maxi' %>
      <%= f.input :address, label: 'Adresse' %>
      <%= f.input :city, label: 'Ville' %>
      <%= f.input :zip, label: 'CP' %>

      <% if @event.persisted? %>
        <%= f.input :photo1 , label: 'Photos 1' %>
        <% if @event.photo1.url.present? %>
          <%= cl_image_tag @event.photo1.file.filename, width: 200, height: 200 %>
        <% end %>
        <%= f.input :photo2 , label: 'Photos 2' %>
        <% if @event.photo2.url.present? %>
          <%= cl_image_tag @event.photo2.file.filename, width: 200, height: 200 %>
        <% end %>
        <%= f.input :photo3 , label: 'Photos 3' %>
        <% if @event.photo3.url.present? %>
          <%= cl_image_tag @event.photo3.file.filename, width: 200, height: 200 %>
        <% end %>
        <%= f.input :photo4 , label: 'Photos 4' %>
        <% if @event.photo4.url.present? %>
          <%= cl_image_tag @event.photo4.file.filename, width: 200, height: 200 %>
        <% end %>
        <%= f.input :photo5 , label: 'Photos 5' %>
        <% if @event.photo5.url.present? %>
          <%= cl_image_tag @event.photo5.file.filename, width: 200, height: 200 %>
        <% end %>
      <% end %>

<p> *************************************************** </p>

      <%= f.input :calendar_string, label: 'Calendrier', readonly: true %>

      <div id="uniqueDate">
        <h4>Calendrier pour événement avec une seule date</h4>
        <%= f.label  "Début" %> </br>
        <%= f.datetime_field :begin_at %> </br></br>
        <span><%= f.error :begin_at %></span>
        <%= f.label  "Fin" %> </br>
        <%= f.datetime_field :end_at %> </br></br>
        <span class="error-red"><%= f.error :end_at %></span>

        <span type="button" onclick="showMultiDate()" class="btn btn-info">Pour saisir plusieurs dates</span>

      </div>
      <div id="multiDate">
        <h4>Calendrier pour événement avec plusieurs dates</h4>
        <div class="container" style="display: flex;">
          <div style="margin: 30px">
            <input type="text" size="10" id="l10nPicker" >
          </div>
          <div style="margin: 30px">
            <div type="text" size="30" id="l10nAlternate" readonly="readonly"></div>
          </div>
        </div>
        <span type="button" onclick="showUniqueDate()" class="btn btn-info">Evénement avec une seule date</span>
      </div>


<p> *************************************************** </p>

    </div>

    <div class="form-actions btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <%= f.button :submit, "Enregistrer", class: 'btn btn-default' %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Annuler', session[:request_back], class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>

<script>

// Set Event.calendar_string by #ln10Picker
$('#event_calendar_string').hide();

$('#l10nPicker').calendarsPicker($.extend({
    showTrigger: '#calImg',
    multiSelect: 400,
    dateFormat: 'dd/mm/yyyy',
    altField: '#event_calendar_string', altFormat: 'dd/mm/yyyy'}));

$('#l10nPicker').change(function(){
  tabString = $('#event_calendar_string')[0].value.split(',').sort();
  $('#l10nAlternate').html(tabString.join('<br>'));
});

function showUniqueDate() {
  $('#multiDate').hide();
  $('#uniqueDate').show();
};

function showMultiDate() {
  $('#multiDate').show();
  $('#uniqueDate').hide();
};

showUniqueDate();

</script>
