<%= stylesheet_link_tag 'event' %>

<div class="container">
  <%= simple_form_for @event, html: { class: 'green_form' } do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title, label: 'Titre (obligatoire)', required: true %>
      <%= f.input :description, as: :text, class: "form-control string optional", input_html: {rows: 5}, label: 'Description (obligatoire)' , required: true %> </br>
      <% if @event.cloudy.present? %>
        <%= cl_image_tag(@event.cloudy.identifier, width: 400, height: 120, crop: :fill ) %>
      <% end %>
      <% unless current_member.has_role?(:professional) %>
        <%= f.input :teacher_id, :collection => $teachers, :label_method => :pseudo, :label => 'Animateur (ça peut être quelqu\'un d\'autre)', selected: current_member %>
      <% end%>
      <!-- upload the image but not recorded directly : association with cloudy record -->
      <% if @event.cloudy.present? %>
        <%= f.input :image, label: 'Image (obligatoire)' %>
      <% else %>
         <%= f.input :image, label: 'Image (obligatoire)', required: true %>
      <% end %>
      <%= f.input :price_min, label: 'Tarif réduit' %>
      <%= f.input :price_max, label: 'Plein tarif', required: true %>
      <%= f.input :members_max, label: 'Nb de participants maxi' %>
      <!-- address is the full address (incl. zip and city that are redundant for display purpose in the events list) -->
      <%= f.input :place_name, label: 'Nom du lieu (s\'il y en a)' %>
      <%= f.input :address, label: 'Adresse (n° rue, ville)', placeholder: 'ex: 20 Rue Geoffroy l Asnier, 75004 Paris' %>
      <%= f.input :note, as: :text, label: 'Remarques', placeholder: 'Réservation obligatoire, code, escalier, interphone ...',
          input_html: {rows: 3} %>
      <!-- the following input are hidden and filled in JS using the Google JS API -->
      <%= f.input :lat %>
      <%= f.input :lng %>
      <%= f.input :city %>
      <%= f.input :zip %>

      <% if @event.persisted? && false %> # not now yet
<!--         <%= f.input :photo1 , label: 'Photos 1' %>
        <% if @event.photo1.url.present? %>
          <%= cl_image_tag @event.photo1.file.filename, width: 200, height: 200 %>
        <% end %>
        <%= f.input :photo2 , label: 'Photos 2' %>
        <% if @event.photo2.url.present? %>
          <%= cl_image_tag @event.photo2.file.filename, width: 200, height: 200 %>
        <% end %>
        <%= f.input :photo3 , label: 'Photos 3' %>
        <% if @event.photo3.url.present? %>
          <%= cl_image_tag @event.photo3.file.filename, width: 200, height: 200 %>
        <% end %>
        <%= f.input :photo4 , label: 'Photos 4' %>
        <% if @event.photo4.url.present? %>
          <%= cl_image_tag @event.photo4.file.filename, width: 200, height: 200 %>
        <% end %>
        <%= f.input :photo5 , label: 'Photos 5' %>
        <% if @event.photo5.url.present? %>
          <%= cl_image_tag @event.photo5.file.filename, width: 200, height: 200 %>
        <% end %>
 -->      <% end %>

      <hr>

      <!-- Warning  fields hidden but set by daysPicker é rangePicker-->
      <div class="hidden">
        <%= f.input :calendar_string, label: 'Calendrier pour des événements sur une journée' %>
        <%= f.input :calendar_range_string, label: 'Choisir date de début et date de fin' %>
      </div>

      <% if @event.persisted? %>
        L'événement est prévu le : <span class="btn btn-default"> <%= I18n.l(@event.begin_at, format: '%d/%m/%Y') %> </span>
      <% end %>

      <% if browser.firefox? %>
        </br>
      <% end %>

      Heure de début :
      <%= f.time_select :begin_at, minute_step: 15 %>

      Heure de fin :
      <%= f.time_select :end_at, minute_step: 15 %>
      </br>
      </br>

      <h4>Choisir une/des dates</h4>
      <div class="container" style="display: block; text-align: center; width: 100%; border-radius: 5px; border: solid 1px grey" id="daysPickerBlock">
        <div>Pour des événements dont la durée < 1j</div>
        <br />
        <div style="display: flex; justify-content: space-around;">
          <div style="align-items: center;" id="choiceDate">
            <div>Choisir une ou plusieurs dates</div>
            <div>
              <input type="text" size="7" id="daysPicker" class="btn btn-default">
            </div>
          </div>
          <div  style="align-items: center;">
            <div>Les dates choisies :</div>
            <div type="text" size="30" id="dayAlternate" readonly="readonly" style=" margin-left: 20px "></div>
          </div>
        </div>
      </br>
      </div>
          -OU-
      </br>
      <div class="container" style="display: block; text-align: center; width: 100%;  border-radius: 5px; border: solid 1px grey" id="rangePickerBlock">
        <div>Pour des événements dont la durée > 1j </div>
        <br />
        <div style="display: flex; justify-content: space-around;">
          <div style="align-items: center;" >
            <div>date de début - date de fin </div>
            <input type="text" size="19" id="rangePicker" class="btn btn-default">
          </div>
          <div  style="align-items: center;">
            <div>La durée choisie :</div>
            <div type="text" size="10" id="rangeDuration" readonly="readonly" style=" margin-left: 20px; "></div>
          </div>
        </div>
      </br>
      </div>

      <% if @event.multi_dates_id && @event.persisted? %>
        <h4> Type de modification</h4>
        <div style="text-align: left">
          <ul style="list-style-type:none">
            <li>
              <%= radio_button_tag(:type_update, UPDATE_TYPE_ONLY_ONE, checked: true ) %>
              <%= label_tag(:Only, "Appliquer uniquement à cet événement") %>
            </li>
            <li>
              <%= radio_button_tag(:type_update, UPDATE_TYPE_ALL_AFTER) %>
              <%= label_tag(:All_after, "Appliquer à cet événement et les suivants") %>
            </li>
            <li>
              <%= radio_button_tag(:type_update, UPDATE_TYPE_ALL_ITEMS) %>
              <%= label_tag(:All_items, "Appliquer à tous les événements") %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
    </br>
    </br>
    <div class="form-actions btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <%= f.button :submit, "Enregistrer", class: 'btn btn-default' %>
      </div>
      <% if @event.persisted? %>
        <div class="btn-group" role="group">
          <%= f.button :submit, ACTION_SUPPRIMER, class: 'btn btn-default',  data: {confirm: 'Confirmez la/les suppressions' }  %>
        </div>
      <% end %>
      <div class="btn-group" role="group">
        <%= link_to 'Annuler', session[:request_back], class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>

<script>

  initDates();

  function initDates() {
    $('#daysPicker')[0].value = $('#event_calendar_string')[0].value;
    tabString = $('#event_calendar_string')[0].value.split(',');
    $('#dayAlternate').html(tabString.join('<br>'));
    $('#rangePicker')[0].value = $('#event_calendar_range_string')[0].value;
    durationRange();
  };


  <% if @event.persisted? && @event.multi_dates_id %>
    // If update not allow daysPicker for multi dates
    $('#choiceDate').hide();
  <% end %>


  $('#rangePicker').calendarsPicker({
    rangeSelect: true,
    monthsToShow: 1,
    showTrigger: '#calImg',
    dateFormat: 'dd/mm/yyyy',
    altFormat: 'dd/mm/yyyy',
    altField: '#event_calendar_range_string',
    prevText: '&#x3c;Préc',
    prevStatus: 'Voir le mois précédent',
    prevJumpText: '&#x3c;&#x3c;',
    prevJumpStatus: 'Voir l\'année précédent',
    nextText: 'Suiv&#x3e;',
    nextStatus: 'Voir le mois suivant',
    nextJumpText: '&#x3e;&#x3e;',
    nextJumpStatus: 'Voir l\'année suivant',
    currentText: 'Courant',
    currentStatus: 'Voir le mois courant',
    todayText: 'Aujourd\'hui',
    todayStatus: 'Voir aujourd\'hui',
    clearText: 'Effacer',
    clearStatus: 'Effacer la date sélectionnée',
    closeText: 'Fermer',
    closeStatus: 'Fermer sans modifier',
    yearStatus: 'Voir une autre année',
    monthStatus: 'Voir un autre mois',
    weekText: 'Sm',
    weekStatus: 'Semaine de l\'année',
    dayStatus: '\'Choisir\' le DD d MM',
    defaultStatus: 'Choisir la date',
  });



  $('#daysPicker').calendarsPicker($.extend({
    showTrigger: '#calImg',
    // only if edit & no multi dates
    <% if @event.persisted? && !@event.multi_dates_id %>
      multiSelect: 0,
    <% else %>
      multiSelect: 400,
    <% end %>
    dateFormat: 'dd/mm/yyyy',
    altFormat: 'dd/mm/yyyy',
    altField: '#event_calendar_string',
    prevText: '&#x3c;Préc',
    prevStatus: 'Voir le mois précédent',
    prevJumpText: '&#x3c;&#x3c;',
    prevJumpStatus: 'Voir l\'année précédent',
    nextText: 'Suiv&#x3e;',
    nextStatus: 'Voir le mois suivant',
    nextJumpText: '&#x3e;&#x3e;',
    nextJumpStatus: 'Voir l\'année suivant',
    currentText: 'Courant',
    currentStatus: 'Voir le mois courant',
    todayText: 'Aujourd\'hui',
    todayStatus: 'Voir aujourd\'hui',
    clearText: 'Effacer',
    clearStatus: 'Effacer la date sélectionnée',
    closeText: 'Fermer',
    closeStatus: 'Fermer sans modifier',
    yearStatus: 'Voir une autre année',
    monthStatus: 'Voir un autre mois',
    weekText: 'Sm',
    weekStatus: 'Semaine de l\'année',
    dayStatus: '\'Choisir\' le DD d MM',
    defaultStatus: 'Choisir la date',
  }));

  $('#daysPicker').change(function(){
   tabString = $('#event_calendar_string')[0].value.split(',').sort(function(a, b){
    var aDate = a.split("/");
    var date1 = aDate[2]+aDate[1]+ aDate[0];
    var bDate = b.split("/");
    var date2 = bDate[2] + bDate[1] + bDate[0];
    if (date1 < date2){return -1;} else {return 1;}
    });
    $('#dayAlternate').html(tabString.join('<br>'));

    console.log('Day picker change');
    $('#rangePicker')[0].value = "";
    $('#event_calendar_range_string')[0].value = "";
    $('#rangeDuration').html("");
  });

  $('#rangePicker').change(function(){

    durationRange();
    console.log('Range picker change');
    $('#daysPicker')[0].value = "";
    $('#event_calendar_string')[0].value = "";
    $('#dayAlternate').html("");
  });

  initDates();

  function durationRange() {
    if($('#event_calendar_range_string')[0].value.length > 0)
    {
      tabString = $('#event_calendar_range_string')[0].value.split('-');
      day = tabString[0].split('/');
      begin_day = new Date(day[2],day[1],day[0]);
      day = tabString[1].split('/');
      end_day = new Date(day[2],day[1],day[0]);
      diffDays = parseInt((end_day - begin_day) / (1000 * 60 * 60 * 24)) + 1;
      $('#rangeDuration').html(diffDays + ' jours');
    } else {
      $('#rangeDuration').html('');
    }
  };



  // if $('#event_calendar_string')[0].value
  // $('#event_calendar_string').trigger("change");
  // $('#event_calendar_range_string').trigger("change");
</script>

<script>
  $(document).ready(function() {
    initAutocomplete();
  });
</script>
