<%= stylesheet_link_tag 'remove_footer' %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.css">
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.js">
<!-- Always use `2.x` versions in production rather than `2` to mitigate any side effects on your website,
Find the latest version on InstantSearch.js website: https://community.algolia.com/instantsearch.js/v2/guides/usage.html -->
</script>
<script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>


<div class="page-header courses">
  <div class="page-header-overlay">
    <div class="container w-container">
      <h2 data-ix="fade-in-on-load" class="page-header-title">Liste des propositions à venir</h2>
      <h2 data-ix="fade-in-on-load-2" class="page-subtitle">Pour s'épanouir ensemble, en Ile de France </h2>
    </div>
  </div>
</div>
<div class="section">
    <div class="content">
      <div class="container w-container">
        <div class="w-dyn-list">
          <div class="w-clearfix w-dyn-items">
            <div class="courses-list-item w-dyn-item">
              <%= render 'layouts/search_bar', button_text: "Ajouter une proposition", button_link: new_event_path %>
              <input id="begin_after" name="user[born_on]" type="date" style="background-color: red; display: none" />

              <!-- hits-container ALGOLIA -->
              <div id="hits-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js"></script>

<script>
  // Configuration for Algolia
  var search = instantsearch({
    apiKey: '<%= ENV['ALGOLIA_SEARCH_API_KEY_SEARCH'] %>',
    appId: '<%= ENV['ALGOLIA_SEARCH_APPLICATION_ID'] %>',
    indexName: 'Event',
    searchParameters: {
      filters: 'unix_begin_at > <%= Time.now.to_i %>'
    }
  });
  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#search-box',
      placeholder: 'Entrez vos mots de recherche (ex : "danse yoga mouvement paris montreuil") ...',
      autofocus: true
    })
  );

// Render template new version *****************************************************************

var readyToFetchMore = true;

var hitsContainer = $('#hits-container');

search.addWidget(
  {
    init: function (params) {
      params.helper.setQueryParameter('hitsPerPage', 10);

      function scrollhandler() {

        var isAtBottomOfPage = $(window).scrollTop() + $(window).height()
                                > $(document).height() - 500;

        if (readyToFetchMore && isAtBottomOfPage) {
          readyToFetchMore = false;
          params.helper.nextPage().search();
        }
      }

      $(window).bind("scroll", scrollhandler);
    },

    render: function (params) {

      readyToFetchMore = true;

      var hits = params.results.hits;


      if (params.state.page === 0) { // because '0' means we changed the query
        hitsContainer.html('');
      }

      var html = '';

      if (params.results.nbHits > 0) {

        html = hits.map(function (hit) {

          return ''
                +'  <a href=\"' + hit.url + '\" >'
                +'    <div class=\"course-block-wrapper list-view w-clearfix\">'
                +'      <div class=\"course-image-link-block list-view w-inline-block\"  style=\"background-image:url(' + hit.image_url + ')\" >'
                +'        <div class=\"image-overlay-block\"></div>'
                +'      </div>'
                +'      <div class=\"featured-label\">' + hit.category_name + '</div>'
                +'      <div class=\"course-content-block list-view\"><div class=\"course-title-link list-view\" >' + hit.title + '</div></div>'
                +'      <div class=\"course-content-block _2 list-view\"><img class=\"teacher-overlay-photo list-view-photo w-hidden-tiny\" src=' + hit.organizer_avatar + '>'
                +'        <div class=\"teacher-overlay-title list-view w-hidden-tiny\">' + hit.organizer_pseudo + '</div>'
                +'        <div class="course-info-icon"></div>'
                +'        <div class="event-info-title">' + hit.show_begin_at + '</div>'
                +'        <div class="course-info-icon"></div>'
                +'        <div class="event-info-title">' + hit.zip + ' ' + hit.city + '</div>'
                +'      </div>'
                +'    </div>'
                +' </a>'




                +' ';

        });

      } else {
          html = [''];
      }

      hitsContainer.append(html.join(''));
    }
  }
);


var date_begin = 0
// Start search function
// search.start();

$('#begin_after').change(function(){
  console.log('Nouvelle date : ' + $('#begin_after')[0].value );
  date_begin = Date.parse($('#begin_after')[0].value )/1000;
  console.log('Date unix : ' + date_begin );

  // search.searchParameters();
  // search.start();

});


search.start();

</script>
