<p id="notice"><%= notice %></p>

<h1>Evènements à venir</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Evènement</th>
      <th>Date</th>
      <th>Prix</th>
      <th>Lieu</th>
      <th>Organisateur</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.begin %></td>
        <td><%= event.price_max.to_s + '€' %></td>
        <td><%= event.zip %></td>
        <td><%= event.organizer.email %></td>
        <td><%= link_to event do %>
            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to 'Créer un évènement', new_event_path, class: 'badge' %>
