<%= stylesheet_link_tag 'events' %>

<p id="notice"><%= notice %></p>

<h1>Evènements à venir</h1>

<div class="table-responsive" id="events">
  <%= render partial: "events", locals: { events_partial: @events } %>
</div>
<%= link_to 'Créer un évènement', new_event_path, class: 'badge' if member_signed_in? %>

<%= render 'map' %>