<%= stylesheet_link_tag 'event' %>

<p id="notice"><%= notice %></p>

<div class="container">
  <div id="show">
    <div id="event">
      <div id="event_title">
        <h4><%= @event.title %></h4>
        <div id="event_controls">
          <% if member_signed_in? && (current_member == @event.organizer) %>
          <%= link_to '(modifier)', edit_event_path %>
          <%= link_to '(supprimer)', event_path, method: 'DELETE', data: {confirm: 'Confirmez la suppression' } %>
          <% end %>
          <%= link_to '(retour)', session[:request_back], class: 'enable' %>
        </div>
      </div>

      <% if @event.image.url.present? %>
        <%= link_to @event.image_url do %>
          <%= cl_image_tag( @event.image.file.filename, width: 600, height: 182, crop: :fill ) %>
        <% end %>
      <% end %>

      <div id="event_content">
        <%= link_to @event.organizer do %>
          <% if @event.organizer.avatar.file %>
            <%= cl_image_tag(@event.organizer.avatar.file.public_id, width: 80, radius: 20, id: 'avatar') %>
          <% else %>
            <%= cl_image_tag 'eyht3fmfxk8b1o3zsykt.png', width: 80, height: 80, id: 'avatar' %>
          <% end %>
        <% end %>

        <table>
          <tr>
            <td>Date et heure</td>
            <td>: <%= I18n.l(@event.begin, format: '%a %-d %b %Y - %Hh%M') %></td>
          </tr>
          <tr>
            <td>Durée</td>
            <td>:
              <% duration = @event.end - @event.begin %>
              <%= (duration/1.hour).to_i %>h<%= (duration%1.hour/1.minute).to_i.to_s.rjust(2, '0') %>
            </td>
          </tr>
          <tr>
            <td>Prix</td>
            <td>: <%= @event.show_price %></td>
          </tr>
          <tr>
            <td>Organisateur</td>
            <td>:
              <%= link_to @event.organizer.pseudo, @event.organizer, id: 'organizer' %>
            </td>
          </tr>
          <tr>
            <td>Lieu</td>
            <td class="location pointer">:
              <%= link_to '#', 'data-toggle':'modal', 'data-target':'#modal_map', 'data-zip': @event.zip do %>
                <% if @event.adress.size > 50 %>
                  <%= (@event.adress + ' ' + @event.zip + ' ' + @event.town)[0..50] + ' (...)' %>
                <% else %>
                  <%= (@event.adress + ' ' + @event.zip + ' ' + @event.town)[0..50] %>
                <% end %>
                <span class="location_icon glyphicon glyphicon-map-marker" aria-hidden="true"></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Description</td>
            <td>
              :
              <% if @event.description.size > 50 %>
                <%= link_to @event.description[0..50] + ' (...)', '#', 'data-toggle': 'modal', 'data-target': '#modal' %>
              <% else %>
                <%= @event.description %>
              <% end %>
            </td>
          </tr>
        </table>

        <hr />

        <div class="btn-centered">
          <div class="event_action">
            <% if member_signed_in? %>
              <% if @event.participate?(current_member) %>
                <%= link_to 'J\'y vais', interact_with_path(@event.id, 'go'), id: 'go', class: 'badge active', 'aria-pressed': 'true', remote: true %>
              <% else %>
                <%= link_to 'J\'y vais', interact_with_path(@event.id, 'go'), id: 'go', class: 'badge', remote: true %>
              <% end %>
              <p><%= link_to '(ils participent)', '#',  'data-toggle': 'modal', 'data-target': '#modal_attendees' %></p>
            <% else %>
              <%= link_to 'J\'y vais', '#', 'data-toggle': 'modal', 'data-target': '#connection', class: 'badge' %>
              <p><%= link_to '(ils participent)', '#', 'data-toggle': 'modal', 'data-target': '#connection' %></p>
            <% end %>
          </div>
          <div class="event_action">
            <% if member_signed_in? %>
              <% if @event.like?(current_member) %>
                <%= link_to 'J\'aime', interact_with_path(@event.id, 'like'), id: 'like', class: 'badge active', 'aria-pressed': 'true', remote: true %>
              <% else %>
                <%= link_to 'J\'aime', interact_with_path(@event.id, 'like'), id: 'like', class: 'badge', remote: true %>
              <% end %>
              <p><%= link_to '(ils aiment)', '#',  'data-toggle': 'modal', 'data-target': '#modal_likers' %></p>
            <% else %>
              <%= link_to 'J\'aime', '#', 'data-toggle': 'modal', 'data-target': '#connection', class: 'badge' %>
              <p><%= link_to '(ils aiment)', '#', 'data-toggle': 'modal', 'data-target': '#connection' %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div id="discussion">
      <h4>Des questions ? Envie d'en discuter ?</h4>

      <div id="comments">
        <% @event.comments.each do |comment| %>
            <%= render comment %>
        <% end %>
      </div>

      <%= simple_form_for [@event, @comment], remote: true do |f| %>
          <% if member_signed_in? %>
            <%= f.input :content, label: false %>
            <%= f.button :submit, 'Envoyer le commentaire' %>
          <% else %>
            <%= f.input :content, label: false, disabled: true %>
            <%= link_to 'Envoyer le commentaire', '#', 'data-toggle':'modal', 'data-target':'#connection', class: 'btn btn-default' %>
          <% end %>
      <% end %>
    </div>
  </div>

  <% pictures = @event.return_pictures %>
  <% if pictures.size > 0 %>
    <div id="event_pictures">
      <% pictures.each do |picture| %>
        <%= link_to picture[:url], target: '_blank' do %>
          <%= cl_image_tag( picture[:filename], width: 200, height:200, radius: 10, crop: 'fill' ) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<!-- Modals -->
<%= render 'layouts/modal', title: 'Description détaillée de <em>' + @event.title + '</em>', content: @event.description %>

<div class="modal fade" id="modal_attendees" tabindex="-1" role="dialog">
  <%= render 'layouts/members', title: 'Ils participent', members: @event.attendees %></div>
</div>

<div class="modal fade" id="modal_likers" tabindex="-1" role="dialog">
  <%= render 'layouts/members', title: 'Ils aiment', members: @event.likers %>
</div>

<%= render 'layouts/map', title: 'Localisation' %>

<script>
  $('#modal_map').on('shown.bs.modal', function (event) {
    showMap($(event.relatedTarget).data('zip'));
  });
  $('#organizer').hover(
    function () {
      $('#avatar').show();
    },
    function () {
      $('#avatar').hide();
    },);
</script>
