  <div class="page-header course"  style="background-image: url(<%= @event.image_url %>)" >
    <div class="page-header-overlay course" >
      <div class="container course-header w-container">
        <h1 data-ix="fade-in-on-load" class="page-header-title course-title"><%= @event.title%></h1>
        <div>

          <div data-ix="fade-in-on-load-2" class="course-category-title">Categorie : </div>
            <a data-ix="fade-in-on-load-2" class="course-category-link" href="<%= category_path(@event.categories.first) %>" title="Autres événements de cette catégorie">
              <%= @event.categories.first.name %>
            </a>
            <!-- for after with show sub-categories -->
          <div style="display: none;">
            <div data-ix="fade-in-on-load-2" class="course-category-title">Sous-Categories : </div>
            <% @event.categories.each do |c| %>
              <a data-ix="fade-in-on-load-2" class="course-category-link" href="<%= category_path(c) %>">
                <%= c.name %>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section tint event">
    <div class="container w-container">
      <div class="course-block-left">
        <div class="course-image-block w-clearfix" style="background-image: url(<%= @event.image_url %>)">
          <div class="featured-label">Featured</div>
        </div>
        <div class="course-info-block">
          <h4 class="section-title sidebar">Main Information</h4>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Group Size</div>
            <div class="main-course-info-title info"></div>
          </div>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Duration</div>
            <div class="main-course-info-title info"></div>
          </div>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Certificate?</div>
            <div class="main-course-info-title info"></div>
          </div>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Skill Level</div>
            <div class="main-course-info-title info"></div>
          </div>
        </div>
        <div class="course-info-block">
          <h4 class="section-title sidebar">Downloads</h4>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Course Brochure</div><a href="#">Download here</a></div>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Apply Form</div><a href="#">Download here</a></div>
        </div>
        <div class="course-info-block with-button"><a href="contact-us.html" class="button take-course w-button">Take this course</a></div>
      </div>
      <div class="course-main-info-block">
        <div class="course-content-wrapper">
          <div class="section-title-wrapper course">
            <h2 class="section-title">Course Description</h2>
            <div class="section-title-divider"></div>
          </div>
          <div class="course-description w-richtext"><%= simple_format(@event.description) %></div>
        </div>
        <div class="course-content-wrapper">
          <div class="section-title-wrapper course">
            <h2 class="section-title">
              <%= @event.organizer.gender == MEMBER_GENDER_MALE ? 'Organisateur' : 'Organisatrice' %>
              <% if @event.teacher %>
              / <%= @event.organizer.gender == MEMBER_GENDER_MALE ? 'Enseignant' : 'Enseignante' %>
              <% end %> </h2>
            <div class="section-title-divider"></div>
          </div>
          <div class="w-dyn-list">
            <div class="w-dyn-items w-row">

              <div class="teacher-block w-dyn-item w-col w-col-4">
                <div class="teacher-block-wrapper w-clearfix"><img class="teacher-class-photo" src="<%= @event.member_avatar %>" ><a class="teacher-title"><%= @event.organizer.pseudo %></a>
                  <div class="teacher-title _2"><%= @event.organizer.title %></div>
                </div>
              </div>

              <% if @event.teacher %>
                <div class="teacher-block w-dyn-item w-col w-col-4">
                  <div class="teacher-block-wrapper w-clearfix"><img class="teacher-class-photo" src="<%= @event.teacher_avatar %>" ><a class="teacher-title"><%= @event.teacher.pseudo %></a>
                    <div class="teacher-title _2"><%= @event.teacher.title %></div>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Did you see these?</h2>
        <h2 class="section-title subtitle">You might be interested in these courses as well:</h2>
        <div class="section-title-divider"></div>
      </div>
      <div class="featured-courses-list-wrapper w-dyn-list">
        <div class="featured-courses-list w-clearfix w-dyn-items w-row">
          <div class="featured-course-item w-dyn-item w-col w-col-3">
            <div class="course-block-wrapper auto-height">
              <a class="course-image-link-block large w-inline-block">
                <div class="image-overlay-block w-clearfix">
                  <div class="featured-label">Featured</div>
                </div>
                <div class="teacher-overlay-block w-clearfix"><img class="teacher-overlay-photo">
                  <div class="teacher-overlay-title"></div>
                </div>
              </a>
              <div class="course-content-block"><a class="course-title-link"></a></div>
              <div class="course-content-block _2">
                <div class="course-info-icon"></div>
                <div class="course-info-title"></div>
                <div class="course-info-icon"></div>
                <div class="course-info-title"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="empty-state w-dyn-empty">
          <p>No items found.</p>
        </div>
      </div>
    </div>
  </div>
