
<%= stylesheet_link_tag 'event' %>

<p id="notice"><%= notice %></p>

<div id="show_event">

  <div id="event">

    <h3><%= @event.title %></h3>

    <div>

      <% if @event.image.url.present? %>
        <%= cl_image_tag( @event.image.file.filename, width: 824, height:182, radius: 10 ) %>
      <% end %>

      <table id="show_event">
        <tr><td>Date et heure</td><td>: <%= @event.begin %></td></tr>
        <tr><td>Prix</td><td>: <%= @event.price_max %>€</td></tr>
        <% # TODO Display a maps picto, and show maps on mouse hover %>
        <tr><td>Lieu</td><td>: <%= @event.zip %></td></tr>
        <tr><td>Organisateur</td><td>: <%= @event.organizer.email %></td></tr>
      </table>
      <p><%= @event.description %></p>
      <div>
        <% # TODO Add edit button when the professional is logged %>
        <%= link_to 'Back', events_path, class: 'badge' %>
        <%= debug current_member.id %>
        organizer = <%= debug @event.organizer.id %>
        <% if member_signed_in? && (current_member == @event.organizer) %>
          <%= link_to 'Modifier', edit_event_path, class: 'badge' %>
          <%= link_to 'Supprimer', event_path, class: 'badge', method: 'DELETE', data: {confirm: 'Confirmez la suppression' } %>
        <% end %>
      </div>
    </div>
    <!-- <div id="map"></div> -->
  </div>

  <div id="discussion">
        <h3>Des questions ? Envie d'en discuter ?</h3>

        <div id="comments">
        <% @event.comments.each do |comment| %>
            <%= render comment %>
        <% end %>
        </div>

        <% # FIXME Only display this form is a user is connected %>
        <%= simple_form_for [@event, @comment], remote: true do |f| %>
            <%= f.input :content, label: false %>
            <%= f.button :submit, 'Envoyer le commentaire' %>
        <% end %>

  </div>

</div>

<%= javascript_tag do %>
  var map;
  function initMap() {
      var myLatlng = new google.maps.LatLng(40, 0);
      map = new google.maps.Map(document.getElementById('map'), {
          center: myLatlng,
          zoom: 5
      });
      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map
      });
      var infowindow = new google.maps.InfoWindow({
          content: 'ici'
      });
      marker.addListener('click', function() {
          infowindow.open(map, marker);
      });
  }
<% end  %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API'] %>&callback=initMap"
async defer></script>
