<%= stylesheet_link_tag 'event' %>

<p id="notice"><%= notice %></p>

<h1><%= @event.title %></h1>

<div id="show_event">

  <div id="event">
    <table id="show_event">
      <tr><td>Date et heure</td><td>: <%= @event.begin %></td></tr>
      <tr><td>Prix</td><td>: <%= @event.price_max %>€</td></tr>
      <tr><td>Lieu</td><td>: <%= @event.adress %></td></tr>
      <tr><td>Organisateur</td><td>: <%= @event.organizer.email %></td></tr>
    </table>
    <p><%= @event.description %></p>
    <div>
      <%= link_to 'Edit', edit_event_path(@event), class: 'badge' %>
      <%= link_to 'Back', events_path, class: 'badge' %>
    </div>
  </div>

  <div id="map">
    
  </div>

  <div id="discussion">

  </div>

</div>

<%= javascript_tag do %>
  var map;
  function initMap() {
      var myLatlng = new google.maps.LatLng(40, 0);
      map = new google.maps.Map(document.getElementById('map'), {
          center: myLatlng,
          zoom: 5
      });
      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map
      });
      var infowindow = new google.maps.InfoWindow({
          content: 'ici'
      });
      marker.addListener('click', function() {
          infowindow.open(map, marker);
      });
  }
<% end  %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API'] %>&callback=initMap"
async defer></script>