  <div class="page-header course"  style="background-image: url(<%= @event.image_url %>)" >
    <div class="page-header-overlay course" >
      <div class="container course-header w-container">
        <h2 data-ix="fade-in-on-load" class="page-header-title course-title" style="width: 120%"><%= @event.title%></h2>
        <div>
          <% if true %>
          <!-- For after with categories management -->
          <div data-ix="fade-in-on-load-2" class="course-category-title">Categories : </div>
            <% if @event.categories.count > 0 %>
              <div data-ix="fade-in-on-load-2" class="course-category" href="" title="">
              <%= @event.categories.join(', ') %>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="section tint event">
    <div class="container w-container">
      <div class="course-block-left">
        <div class="course-image-block w-clearfix" style="background-image: url(<%= @event.image_url %>)">
          <div class="featured-label"><%= @event.categories.first %></div>
        </div>
        <div class="course-info-block">
          <h4 class="section-title sidebar">Informations</h4>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Date</div>
            <div class="main-course-info-title info"><%= @event.show_begin_at_day %></div>
          </div>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Horaires</div>
            <div class="main-course-info-title info"><%= @event.show_begin_end %></div>
          </div>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Durée</div>
            <div class="main-course-info-title info"><%= @event.show_duration %></div>
          </div>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Prix</div>
            <div class="main-course-info-title info"><%= @event.show_price %></div>
          </div>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Lieu</div>
              <%= link_to '#', 'data-toggle':'modal', 'data-target':'#modal_map', 'data-lat': @event.lat, 'data-lng': @event.lng do %>
                <div class="main-course-info-title info">
                  <% if (@event.place_name.to_s.size > 0) %>
                    <div class="course-info-icon"><i class="material-icons" style="font-size: 16px; position:relative; top:3px">place</i></div>
                    <%= @event.place_name %></br>
                  <%end %>
                </div>
                <div class="main-course-info-title info">
                  <% if (@event.place_name.to_s.size == 0) %>
                    <i class="material-icons" style="font-size: 16px; position:relative; top:3px">place</i>
                  <%end %>
                  <%= @event.address %>
                </div>

                <div class="location_icon glyphicon glyphicon-map-marker" aria-hidden="true"></div>
              <% end %>
          </div>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Remarque</div>
            <div class="main-course-info-title info"><%= @event.note %></div>
          </div>
        </div>
        <div class="course-info-block">
          <h4 class="section-title sidebar">Témoignages</h4>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Sur le même thème</div><a href="#">Ca m'intéresse</a></div>
          <div class="course-main-info-wrapper">
            <div class="main-course-info-title">Sur ce proposant</div><a href="#">Je veux voir</a></div>
        </div>

        <% if current_member && (current_member == @event.organizer) %>
          <div class="course-info-block with-button">
            <%= link_to("Modifier", edit_event_path, class: "button take-course w-button") %>
          </div>
        <% end %>
        <div class="course-info-block with-button">
          <%= link_to("Copier", duplicate_path, class: "button take-course w-button") %>
        </div>
      </div>
      <div class="course-main-info-block">
        <div class="course-content-wrapper">
          <div class="section-title-wrapper course">
            <h2 class="section-title">Description</h2>
            <div class="section-title-divider"></div>
          </div>
          <div class="course-description w-richtext"><%= simple_format(@event.description) %></div>
        </div>
        <div class="course-content-wrapper">
          <div class="section-title-wrapper course">
            <h2 class="section-title">
              <%= @event.organizer.male? ? 'Organisateur' : 'Organisatrice' %>
              <% if @event.teacher  && (@event.organizer != @event.teacher ) %>
              / <%= @event.organizer.male? ? 'Enseignant' : 'Enseignante' %>
              <% end %> </h2>
            <div class="section-title-divider"></div>
          </div>
          <div class="w-dyn-list">
            <div class="w-dyn-items w-row">

              <div class="teacher-block w-dyn-item w-col w-col-4">
                <div class="teacher-block-wrapper w-clearfix"><img class="teacher-class-photo" src="<%= @event.organizer_avatar %>" ><a class="teacher-title" href="<%= member_url(@event.organizer) %>"><%= @event.organizer.pseudo %></a>
                  <div class="teacher-title _2"><%= @event.organizer.title %></div>
                </div>
              </div>
              <% if @event.teacher && (@event.organizer != @event.teacher ) %>
                <div class="teacher-block w-dyn-item w-col w-col-4">
                  <div class="teacher-block-wrapper w-clearfix"><img class="teacher-class-photo" src="<%= @event.teacher_avatar %>" ><a class="teacher-title" href="<%= member_url(@event.teacher) %>"><%= @event.teacher.pseudo %></a>
                    <div class="teacher-title _2"><%= @event.teacher.title %></div>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Découvrir autres choses ?</h2>
        <h2 class="section-title subtitle">Ces cours pourraient aussi vous intéressez :</h2>
        <div class="section-title-divider"></div>
      </div>
      <div class="featured-courses-list-wrapper w-dyn-list">
        <div class="featured-courses-list w-clearfix w-dyn-items w-row">
          <% @list_short_events = Event.next_events.first(4) %>
             <%= render partial: 'events/event_sum_small', collection: @list_short_events, as: :event %>
        </div>
      </div>
    </div>
  </div>

<!-- Popup Google map -->
<%= render 'layouts/map', title: @event.address %>
