<%= stylesheet_link_tag 'form' %>
<%= stylesheet_link_tag 'remove_navbar_footer' %>
<div class="container">
<%= simple_form_for :message, url: contact_path, method: 'POST', html: { class: 'purple_form' } do |f|  %>
  <div class="form-inputs">
    <% if member_signed_in? %>
      <%= f.input :name, required: false, label: 'Nom', input_html: {value: "#{current_member.pseudo.capitalize}"} %>
      <%= f.input :email, required: false, input_html: {value: "#{current_member.email}"} %>
    <% else %>
      <%= f.input :name, required: false, label: 'Nom', placeholder: 'Votre nom ...' %>
      <%= f.input :email, required: false, placeholder: 'Votre email ...' %>
    <% end %>
    <%= f.input :message, required: false, as: :text, :input_html => { :cols => 5, :rows => 3 }, placeholder: 'Votre message ...' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Envoyer" , class: 'btn btn-primary btn-sm'  %>
  </div>
<% end %>
</div>
