  <div class="hero-section smaller">
    <div class="hero-content-overlay-block w-hidden-small w-hidden-tiny"></div>
    <div data-animation="slide" data-duration="600" data-infinite="1" data-ix="show-hero-slider-arrow" data-delay="12000" data-autoplay="1" class="hero-slider auto-height w-slider">
      <div class="w-slider-mask">

        <div class="hero-slide w-slide">
          <div class="hero-slide-overlay padding">
            <div class="slide-load-boar">
              <div data-ix="fill-slide-load-bar" class="slide-load-bar-fill"></div>
            </div>
            <div class="container hero-slide-container w-container">
              <div class="hero-slide-content-block">
                <div data-ix="slide-title-1" class="hero-slide-intro-title">partageons nos expériences</div>
                <h1 data-ix="slide-title-2" class="hero-slide-title">Des activités pour s'épanouir ensemble</h1>
                <p data-ix="slide-title-3" class="slide-intro-paragraph">Des propositions de professionnels ou des rencontres amicales sur la région parisienne entre personnes qui cheminent en conscience.</p><a href=<%= events_path %> data-ix="slide-title-4" class="button slider-button w-button">Plus d'infos</a></div>
            </div>
          </div>
        </div>
        <div class="hero-slide _2 w-slide">
          <div class="hero-slide-overlay padding">
            <div class="slide-load-boar">
              <div data-ix="fill-slide-load-bar" class="slide-load-bar-fill"></div>
            </div>
            <div class="container hero-slide-container w-container">
              <div class="hero-slide-content-block">
                <div data-ix="slide-title-1" class="hero-slide-intro-title">partageons nos expériences</div>
                <h1 data-ix="slide-title-2" class="hero-slide-title">Des témoignages qui peuvent éclairer</h1>
                <p data-ix="slide-title-3" class="slide-intro-paragraph">Des lettres écrites par des amis pour des amis sans prétentions mais avec beaucoup d'authenticité</p><a href=<%= testimonials_path %> data-ix="slide-title-4" class="button slider-button w-button">Plus d'infos</a></div>
            </div>
          </div>
        </div>
        <div class="hero-slide _3 w-slide">
          <div class="hero-slide-overlay padding">
            <div class="slide-load-boar">
              <div data-ix="fill-slide-load-bar" class="slide-load-bar-fill"></div>
            </div>
            <div class="container hero-slide-container w-container">
              <div class="hero-slide-content-block">
                <div data-ix="slide-title-1" class="hero-slide-intro-title">partageons nos expériences</div>
                <h1 data-ix="slide-title-2" class="hero-slide-title">Bilobaba s'enrichit de vos retours</h1>
                <p data-ix="slide-title-3" class="slide-intro-paragraph"> Grâce à vos remarques, nous améliorons constamment le site. Alors continuez à nous écrire !</p><a href=<%= contact_path %> data-ix="slide-title-4" class="button slider-button w-button">Plus d'infos</a></div>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="hide-slider-arrow" class="hero-slider-button w-hidden-small w-hidden-tiny w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div data-ix="hide-slider-arrow" class="hero-slider-button w-hidden-small w-hidden-tiny w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="hero-slider-nav w-hidden-main w-hidden-medium w-slider-nav w-round"></div>
    </div>
  </div>
  <div class="section tint stats">
    <div class="container w-container">
      <div class="hero-overlay-row w-row">
        <div class="stats-column w-col w-col-4">
          <a href=<%= events_path %> class="hero-overlay-block w-inline-block">
            <div class="hero-overlay-number"><%= @count_events_next_week%></div>
            <div class="hero-overlay-block-title">Propositions</div>
            <p class="link-block-paragraph">Disponibles cette semaine</p>
          </a>
        </div>
        <div class="stats-column w-col w-col-4">
          <a href=<%= members_path %> class="hero-overlay-block w-inline-block">
            <div class="hero-overlay-number"><%= @count_professionals%></div>
            <div class="hero-overlay-block-title">Proposants</div>
            <p class="link-block-paragraph">Dans notre rubrique professionels</p>
          </a>
        </div>
        <div class="stats-column last w-col w-col-4">
          <a href=<%= testimonials_path %> class="hero-overlay-block w-inline-block">
            <div class="hero-overlay-number"><%= @coutn_testimonials %></div>
            <div class="hero-overlay-block-title">Témoignages</div>
            <p class="link-block-paragraph">Authentiques partagés entre "amis"</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Prochaines propositions</h2>
        <div class="section-title-divider"></div>
      </div>
      <div class="w-dyn-list">
        <div class="w-clearfix w-dyn-items w-row" >
          <%= render partial: 'events/event_sum_small', collection: @list_short_events.first(4), as: :event %>
        </div>
      </div>
      <div class="bottom-info-text">Vous voulez voir la liste complète des propositions?
        <%= link_to "Regardez la liste complète →" , events_path %>
      </div>
    </div>
  </div>
  <div class="image-section">
    <div class="image-section-overlay">
      <div class="container w-container">
        <div class="image-section-content-block">
          <h2 class="image-section-title">Envie de partager de belles expériences?</h2>
          <h2 class="image-section-title _2">Annoncez gratuitement toutes vos activités de bien-être parisiennes que vous soyez professionnels ou particuliers ! </h2><a href=<%= new_event_path %> class="button white w-button">Plus d'infos</a></div>
        <div class="image-section-contact-form w-form">
          <div id="wf-form-Register-Form" name="wf-form-Register-Form" data-name="Register Form">
            <div class="contact-form-block">
              <div class="contact-form-title"><strong>Inscrivez-vous</strong>!</div>
            </div>
            <div class="contact-form-block _2">
              <%= link_to "Oui! Je m'inscris", new_member_registration_path, class: "button submit-button w-button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section tint">
    <div class="container w-container">
      <div class="w-row">
        <div class="news-column-left w-col w-col-6">
          <div class="section-title-wrapper">
            <h2 class="section-title">Les derniers témoignages</h2>
            <div class="section-title-divider"></div>
          </div>
          <div class="w-dyn-list">
            <div class="w-dyn-items">
              <% for i in 0..2 %>
                <% if !@list_testimonials[i].nil? %>
                  <div class="blog-post-item w-dyn-item">
                    <a href=<%= url_for(@list_testimonials[i]) %> class="blog-post-title-link">
                      <%= @list_testimonials[i].title %>
                    </a>
                    <div class="blog-post-info-block">
                      <div class="course-info-icon"></div>
                      <div class="blog-info-title"><%= @list_testimonials[i].written_at %></div>
                      <div class="course-info-icon"></div>
                      <div class="blog-info-title"><%= @list_testimonials[i].author.pseudo %></div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="bottom-info-text">Ca vous fait envie? <a href=<%= testimonials_path %>>Voir tous les témoignages →</a></div>
        </div>
        <div class="about-column-right w-col w-col-6">
          <div class="section-title-wrapper">
            <h2 class="section-title"> Le pourquoi de Bilobaba </h2>
            <div class="section-title-divider"></div>
          </div>
          <a href="https://www.youtube.com/channel/UCgH9tQ00N9xPAxKlkbAPWZw" <% if false %> (put with real video) class="video-lightbox w-inline-block w-lightbox" <% end %>>
            <div class="about-image-block">
              <div class="lightbox-overlay-block">
                <div class="overlay-lightbox-icon"></div>
              </div>
            </div>
<!--            Video
            <script type="application/json" class="w-json">{
  "items": [
    {
      "type": "video",
      "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FAYAHkql75qM%3Fautoplay%3D1%26feature%3Doembed&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DAYAHkql75qM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FAYAHkql75qM%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allowfullscreen></iframe>",
      "thumbnailUrl": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2FAYAHkql75qM%2Fhqdefault.jpg&key=866738f8f18b4394a18e371517a66ae0",
      "width": 940,
      "height": 528,
      "originalUrl": "https://www.youtube.com/watch?v=AYAHkql75qM",
      "url": "http://www.youtube.com/watch?v=AYAHkql75qM"
    }
  ]
}</script> -->
          </a>
          <p>Vidéo en cours de préparation avec Morane Vigne</p>
          <a href="https://www.youtube.com/channel/UCgH9tQ00N9xPAxKlkbAPWZw" class="link-below-paragraph">Plus d'infos →</a></div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Prochains stages</h2>
        <h2 class="section-title subtitle">Pour découvrir ou approfondir une activités sur plusieurs jours</h2>
        <div class="section-title-divider"></div>
      </div>
      <div class="upcoming-events-list-wrapper w-dyn-list">
        <div class="w-dyn-items">
          <%= render partial: 'events/workshop_sum_very_large', collection: @list_long_events.first(3), as: :event %>
        </div>
      </div>
      <div class="bottom-info-text">
        Vous voulez voir tous les stages proposés?
        <%= link_to "View Full Events Overview →", events_path %>
      </div>
    </div>
  </div>
