<%= stylesheet_link_tag 'home' %>

<div id="home">
    <h1 id="home_title">Bilobaba</h1>
    <em>Partageons nos belles expériences.</em>
    <p id="home_content">
        Bonjour et bienvenus sur notre site Bilobaba, un agenda parisien pour danser et surtout s'épanouir. Vous y trouverez des cours animés par des professionnels (ci-nommés <%= link_to("\"Les proposants\"", pros_path) %>  et aussi toutes sortes d’activités et de partages proposés par les membres (ci-nommés <%= link_to("\"Les participants\"", amateurs_path) %> ) tels que : pique-niques, échanges, promenades, prendre un thé, méditations...
        </br>
        </br>
        Pour vous faire du bien, il suffit de faire vos recherches dans l'onglet <%= link_to("\"Les propositions\"", events_path) %> et d'y saisir vos critères : une activité, un pro, un lieu, etc.
        <br />
        Toute l’équipe vous souhaite un agréable moment sur le site en espérant que vous y découvrirez de quoi ensoleiller votre journée.
        Si ce n'est pas le cas, faites nous vos suggestions sur le formulaire en allant sur <%= link_to("\"Contact\"", contact_path) %> et nous nous efforcerons de faire en sorte que cela le soit à votre prochaine visite ...
    </p>
</div>
