<%= stylesheet_link_tag 'home' %>

<div id="home">
    <h1 id="home_title">Bilobaba</h1>
    <em>Partageons nos belles expériences.</em>
    <p id="home_content">


Bonjour et bienvenus sur notre site Bilobaba, un agenda parisien pour danser et surtout s épanouir. Vous y trouverez des cours animés par des professionnels (ci-nommé <%= link_to("\"Les biloprocools\"", index_pros_path) %>  et aussi toutes sortes d’activités et de partages proposés par les membres (ci-nommés <%= link_to("\"Les bilobabacools\"", index_members_path) %> ) tels que : pique-nique, échanges, promenades, prendre un thé, méditations …
</br>
</br>

Pour trouver votre bonheur il vous suffit de faire vos recherches dans l onglet <%= link_to("\"Les partages\"", events_path) %>  en haut de votre écran.
<br />

Toutes l’equipe vous souhaite un agréable moment sur le site en espérant que vous y découvrirez de quoi ensoleiller votre journée. Si ce n'est pas le cas, faites nous vos sugestions sur le formulaire en allant sur <%= link_to("\"Contact\"", contact_path) %>.

</div>
