<div class="header-wrapper">
  <div data-collapse="none" data-animation="default" data-duration="400" class="top-navbar w-nav">
    <div class="w-container">
      <nav role="navigation" class="top-nav-menu w-nav-menu">
        <%= link_to contact_path, class: 'top-nav-link w-inline-block' do %>
          <div class="top-nav-title icon"></div>
          <div class="top-nav-title">Nous contacter</div>
        <% end %>
      </nav>
      <%= link_to 'Accédez aux témoignages →', home_path, class: 'top-bar-link w-hidden-small w-hidden-tiny' %>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div data-collapse="medium" data-animation="over-right" data-duration="400" data-doc-height="1" class="navbar w-nav">
    <div class="w-container">
      <%= link_to home_path, class: 'logo-block w-nav-brand' do %>
        <%= image_tag 'logo.png', class:"image-logo" %>
      <% end %>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <%= link_to 'Les propositions', events_path, class: 'nav-link w-nav-link' %>
        <div data-delay="0" data-hover="1" class="dropdown w-dropdown">
          <div class="nav-link dropdown-toggle w-dropdown-toggle">
            <div>la communauté</div>
            <div class="dropdown-icon w-icon-dropdown-toggle"></div>
          </div>
          <nav class="dropdown-list w-dropdown-list">
            <%= link_to "Les proposants", pros_path, class: 'dropdown-link w-dropdown-link' %>
            <%= link_to "Les participants", amateurs_path, class: 'dropdown-link w-dropdown-link' %>
          </nav>
        </div>
        <%= link_to 'tarif', pricing_path, class: 'nav-link w-nav-link' %>
        <% if member_signed_in? %>
          <%= link_to "Mon profil", member_path(current_member), class: 'nav-link w-nav-link' %>
          <%= link_to "Déconnexion", destroy_member_session_path, method: :DELETE, class: 'nav-link w-nav-link' %>
        <% else %>
          <%= link_to t(".sign_up", default: "Créer un compte"), new_member_registration_path, title: "Créer un compte", class: 'nav-link w-nav-link' %>
          <%= link_to t(".sign_in", default: "Connectez-vous"), new_member_session_path, title: "Connectez-vous", class: 'nav-link w-nav-link' %>
        <% end %>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>
<div class="hero-section">
  <div class="hero-content-overlay-block w-hidden-small w-hidden-tiny">
    <div class="container w-container">
      <div class="hero-overlay-row w-row">
        <div class="stats-column w-col w-col-4">
          <%= link_to events_path, class: 'hero-overlay-block w-inline-block' do %>
            <div class="hero-overlay-number"><%= @nb_events_to_come %></div>
            <div class="hero-overlay-block-title">Propositions</div>
            <p class="link-block-paragraph"><%= @nb_events_to_come %> propositions à venir sur Bilobaba  🌵</p>
          <% end %>
        </div>
        <div class="stats-column w-col w-col-4">
          <%= link_to pros_path, class: 'hero-overlay-block w-inline-block' do %>
            <div class="hero-overlay-number"><%= @nb_pros %></div>
            <div class="hero-overlay-block-title">Proposants</div>
            <p class="link-block-paragraph">Découvrez nos <%= @nb_pros %> proposants  🎓</p>
          <% end %>
        </div>
        <div class="stats-column last w-col w-col-4">
          <%= link_to amateurs_path, class: 'hero-overlay-block w-inline-block' do %>
            <div class="hero-overlay-number"><%= @nb_members %></div>
            <div class="hero-overlay-block-title">Participants</div>
            <p class="link-block-paragraph">Epanouissez-vous avec nos <%= @nb_members %> participants  🚀</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div data-animation="slide" data-duration="600" data-infinite="1" data-ix="show-hero-slider-arrow" data-delay="7000" data-autoplay="1" class="hero-slider w-slider">
    <div class="w-slider-mask">
      <div class="hero-slide w-slide">
        <div class="hero-slide-overlay">
          <div class="slide-load-boar">
            <div data-ix="fill-slide-load-bar" class="slide-load-bar-fill"></div>
          </div>
          <div class="container hero-slide-container w-container">
            <div class="hero-slide-content-block">
              <h1 data-ix="slide-title-2" class="hero-slide-title">Bilobaba</h1>
              <p data-ix="slide-title-3" class="slide-intro-paragraph">Partageons nos belles expériences.</p>
              <%= link_to 'En savoir plus', home_path, class: 'button slider-button w-button', 'data-ix': 'slide-title-4' %>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-slide _2 w-slide">
        <div class="hero-slide-overlay">
          <div class="slide-load-boar">
            <div data-ix="fill-slide-load-bar" class="slide-load-bar-fill"></div>
          </div>
          <div class="container hero-slide-container w-container">
            <div class="hero-slide-content-block">
              <h1 data-ix="slide-title-2" class="hero-slide-title">Bilobaba</h1>
              <p data-ix="slide-title-3" class="slide-intro-paragraph">L&#x27;agenda parisien pour danser et s&#x27;épanouir</p>
              <%= link_to 'En savoir plus', home_path, class: 'button slider-button w-button', 'data-ix': 'slide-title-4' %>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-slide _3 w-slide">
        <div class="hero-slide-overlay">
          <div class="slide-load-boar">
            <div data-ix="fill-slide-load-bar" class="slide-load-bar-fill"></div>
          </div>
          <div class="container hero-slide-container w-container">
            <div class="hero-slide-content-block">
              <h1 data-ix="slide-title-2" class="hero-slide-title">Bilobaba</h1>
              <p data-ix="slide-title-3" class="slide-intro-paragraph">L&#x27;agenda parisien pour danser et s&#x27;épanouir</p>
              <%= link_to 'En savoir plus', home_path, class: 'button slider-button w-button', 'data-ix': 'slide-title-4' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-ix="hide-slider-arrow" class="hero-slider-button w-hidden-small w-hidden-tiny w-slider-arrow-left">
      <div class="w-icon-slider-left"></div>
    </div>
    <div data-ix="hide-slider-arrow" class="hero-slider-button w-hidden-small w-hidden-tiny w-slider-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="hero-slider-nav w-hidden-main w-hidden-medium w-slider-nav w-round"></div>
  </div>
</div>
<div class="section tint">
  <div class="container w-container">
    <div class="w-row">
      <div class="news-column-left w-col w-col-6">
        <div class="section-title-wrapper">
          <h2 class="section-title">Dernières propositions</h2>
          <div class="section-title-divider"></div>
        </div>
        <div class="w-dyn-list">
          <div class="w-dyn-items">
            <% @last_events_added.each do |event| %>
              <div class="blog-post-item w-dyn-item">
                <div class="blog-post-info-block">
                  <div class="course-info-icon"></div>
                  <div class="blog-info-title"><%= event.show_begin_at %></div>
                  <div class="course-info-icon"></div>
                  <div class="blog-info-title"><%= event.organizer.pseudo %></div>
                </div><a class="blog-post-title-link"><%= event.short_title %></a>
              </div>
            <% end %>
          </div>
        </div>
        <div class="bottom-info-text">Pour accéder à toutes les propositions, 
          <%= link_to 'c\'est ici →', events_path, class: 'link' %>
        </div>
      </div>
      <div class="about-column-right w-col w-col-6">
        <div class="section-title-wrapper">
          <h2 class="section-title">Pourquoi Bilobaba ?</h2>
          <div class="section-title-divider"></div>
        </div>
        <a href="#" class="video-lightbox w-inline-block w-lightbox">
          <div class="about-image-block">
            <div class="lightbox-overlay-block">
              <div class="overlay-lightbox-icon"></div>
            </div>
          </div>
          <script type="application/json" class="w-json">{
"items": [
  {
    "type": "video",
    "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FAYAHkql75qM%3Fautoplay%3D1%26feature%3Doembed&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DAYAHkql75qM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FAYAHkql75qM%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allowfullscreen></iframe>",
    "thumbnailUrl": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2FAYAHkql75qM%2Fhqdefault.jpg&key=866738f8f18b4394a18e371517a66ae0",
    "width": 940,
    "height": 528,
    "originalUrl": "https://www.youtube.com/watch?v=AYAHkql75qM",
    "url": "http://www.youtube.com/watch?v=AYAHkql75qM"
  }
]
}</script>
        </a>
        <p>Bilobaba est un agenda parisien pour danser et surtout s'épanouir. Vous y trouverez des cours animés par des proposants et aussi toutes sortes d’activités et de partages proposés par les participants tels que : pique-niques, échanges, promenades, prendre un thé, méditations... </p>
        <%= link_to 'Continuer →', home_path, class: 'link-below-paragraph' %>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container w-container">
    <div class="bottom-footer-block w-clearfix">
      <div class="bottom-footer-text">
        <%= link_to 'A propos', home_path, class: 'footer-link' %> - 
        <%= link_to 'Nos CGU', team_path, class: 'footer-link' %> - 
        <%= link_to 'Politique de confidentialité', cgu_path, class: 'footer-link' %> - 
        <%= link_to 'Notre équipe', confidentiality_path, class: 'footer-link' %> - 
        <%= link_to 'Contact', contact_path, class: 'footer-link' %>
      </div>
      <div class="bottom-footer-text right">© 2017 - search engine by <%= link_to 'Algolia', 'https://www.algolia.com/',  class: 'footer-link' %> - Made with lot of ❤️ at <%= link_to 'THP', 'https://www.thehackingproject.org/',  class: 'footer-link' %></div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" intergrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->