<%= stylesheet_link_tag 'testimonial' %>

  <%= simple_form_for(@testimonial) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title, label: 'Le titre', required: true %>
      <%= f.input :body, as: :trix_editor, label: 'Votre texte', required: true, input_html: {rows: 5 }%>
      <!-- <%= f.input :image, required: true %> -->

      <%= f.label 'Thèmes' %>
      <%= f.input :topic_list, label: false, input_html:{id: 'topics', data:{role:'tagsinput'},
            value: f.object.topic_list.sort.join(', ').to_s} , placeholder: "Entrez des thèmes ..." %>

      <%= f.label 'Membres' %>
      <%= f.input :member_list, label: false, input_html:{id: 'members', data:{role:'tagsinput'},
                  value: f.object.member_list.sort.join(', ').to_s}, label: false, placeholder: "Entrez des pros ..."  %>

      <% if f.object.image.present? %>
        <%= cl_image_tag f.object.image.url, width: 60, height: 60, crop: :fill, radius: 5,  :border => { :width => 4, :color => "#553311" }, :gravity => :face %>
      <% end %>
      <%= f.input :image, label: 'Changer d\'image' %>

      <%= f.input :published, label: 'Publier maintenant' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>


<script>

// constructs the suggestion engine
var tag_topics = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // `tag_members` is an array of state names defined in "The Basics"
    local: <%= raw ViewDatum.find_by_data_type(VIEW_DATA_TOPICS).content %>
});

$('#topics').tagsinput({
  typeaheadjs: {
  source: tag_topics.ttAdapter()
  }
});

var tag_members = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // local: <%= Member.all.as_json %>
  local: <%= raw Member.pseudos %>
});

tag_members.initialize();

var elt = $('#members');
elt.tagsinput({
  typeaheadjs: {
    source: tag_members.ttAdapter()
  }
});

</script>
