<p id="notice"><%= notice %></p>

<div class="container">
  <h2>Testimonials</h2>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Cloudy</th>
        <th>Member</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @testimonials.each do |testimonial| %>
        <tr>
          <td><%= testimonial.title %></td>
          <td><%= testimonial.body %></td>
          <td><%= testimonial.member %></td>
          <td><%= link_to 'Show', testimonial %></td>
          <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
          <td><%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Testimonial', new_testimonial_path %>
</div>
