<p id="notice"><%= notice %></p>

<div class="container">
  <h2>Témoignages</h2>

  <table class='table'>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Auteur</th>
      </tr>
    </thead>
    <tbody>
      <% @testimonials.each do |testimonial| %>
        <tr>
          <td><%= link_to testimonial.title, testimonial %></td>
          <td><%= link_to testimonial.member.pseudo, testimonial.member %></td>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if member_signed_in? %>
    <%= link_to 'Ajouter votre témoignage', new_testimonial_path, class: 'btn btn-default' %>
  <% else %>
    <%= link_to  '#','data-toggle':'modal', 'data-target':'#connection', class: 'btn btn-default'  do %>
              Ajouter votre témoignage
    <% end %>
  <% end %>
</div>
