<div class="container">
<p>
  <strong>Titre :</strong>
  <%= @testimonial.title %>
</p>

<p>
  <strong>Texte :</strong>
  <%= @testimonial.body.html_safe %>
</p>

<!-- <p>
  <strong>Image: xxx</strong>
  <%= cl_image_tag @testimonial.image.url, width: 600, height: 182, crop: :fit %>
</p> -->

<p>
  <strong>Auteur:</strong>
  <%= @testimonial.member.pseudo %>
</p>

<%= link_to 'Modifier', edit_testimonial_path(@testimonial) %>
</div>
