<div class="container">
<div class="center-block", style="margin: auto;">
<h2>
  <%= @testimonial.title %>
</h2>
<br />
<br />
<br />
<h4>
  <%= @testimonial.body.html_safe %>
</h4>

<!-- <p>
  <strong>Image: xxx</strong>
  <%= cl_image_tag @testimonial.image.url, width: 600, height: 182, crop: :fit %>
</p> -->

<p>
  <strong>Auteur:</strong>
  <%= link_to @testimonial.member.pseudo, @testimonial.member %>
</p>

<%= link_to 'Modifier', edit_testimonial_path(@testimonial), class: "btn btn-default" %>
<%= link_to 'Supprimer', @testimonial, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: "btn btn-default"  %>
</div>
</div>
