  <!-- <div class="page-header blog-post"  style="background-image:url(<%= @testimonial.image.url %>)"> -->
  <div class="page-header blog-post">
    <div class="page-header-overlay blog-post" >
      <div class="container w-container">
        <div class="blog-title-wrapper">
          <h2 data-ix="fade-in-on-load" class="page-header-title blog-post-title"><%= @testimonial.title %></h2>
          <div class="blog-post-header-info-block">
            <div data-ix="fade-in-on-load-2" class="course-category-title icon"></div>
            <div data-ix="fade-in-on-load-2" class="blog-post-date-title"><%= date_sum(@testimonial.created_at) %></div>
            <div data-ix="fade-in-on-load-2" class="course-category-title icon"></div>
            <%= link_to(@testimonial.author.pseudo, @testimonial.author, data: { ix: "fade-in-on-load-2" }, class: "blog-post-date-title") %>

            <div data-ix="fade-in-on-load-2" class="course-category-title icon"></div>
            <div data-ix="fade-in-on-load-2" class="blog-post-date-title"><%= @read_duration %> min de lecture</div>
            <% if current_member &&  (current_member == @testimonial.author) %>
                  <a data-ix="fade-in-on-load-2" href="<%= edit_testimonial_path(@testimonial) %>" class="button blog-read-more w-button"> Modifier</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section tint">
    <div class="container w-container">
      <div class="blog-post-wrapper">
        <div class="blog-post-content-wrapper first">
          <div class="blog-post-content-block w-richtext">
            <%= @testimonial.body.html_safe %>
          </br>
            <%= cl_image_tag(@testimonial.image, width:'200%', height:'200%') %>
          </div>

<div style="display: flex;">
  <div style = "font-size: 16px">
  Thèmes évoqués : &nbsp
  </div>
  <div >
      <%= raw @testimonial.topic_list.sort.map { |t|  link_to t, topic_path(t), class: "tag-dark", title: "les témoignages portant sur #{t}" }.join(' ') %>
  </div>
</div>
<br />
<div style="display: flex;">
  <div style = "font-size: 16px">
  Membres concernés :&nbsp
  </div>
  <div class="tags_css ">
      <% @testimonial.member_list.each do |t| %>
        <% if Member.find_by_pseudo(t) %>
          <% url = Member.find_by_pseudo(t).url %>
        <% else %>
          <% url = "#" %>
        <% end %>
        <%= link_to(t, url, class: "tag-dark") %>
      <% end %>
  </div>

</div>

<br />
<h5>
  Publié (visible par les autres) : <%= @testimonial.published ? 'Oui' : 'Non' %>
</h5>

        </div>
        <div class="blog-post-content-wrapper w-clearfix"><img class="blog-author-photo" src="<%= @testimonial.author.avatar_url %>">
          <div class="blog-author-title w-hidden-tiny">Témoignage partagé par :</div>
          <%= link_to(@testimonial.author.pseudo, @testimonial.author, class: "blog-author-title-link") %>
          <div class="blog-author-title job-title"><%= @testimonial.author.title %></div>
        </div>
      </div>
    </div>
  </div>
