  <div class="page-header blog-post"  style="background-image:url(<%= @testimonial.image.url %>)">
    <div class="page-header-overlay blog-post" >
      <div class="container w-container">
        <div class="blog-title-wrapper">
          <h2 data-ix="fade-in-on-load" class="page-header-title blog-post-title"><%= @testimonial.title %></h2>
          <div class="blog-post-header-info-block">
            <div data-ix="fade-in-on-load-2" class="course-category-title icon"></div>
            <div data-ix="fade-in-on-load-2" class="blog-post-date-title"><%= date_sum(@testimonial.created_at) %></div>
            <div data-ix="fade-in-on-load-2" class="course-category-title icon"></div>
            <%= link_to(@testimonial.author.pseudo, @testimonial.author, data: { ix: "fade-in-on-load-2" }, class: "blog-post-date-title") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section tint">
    <div class="container w-container">
      <div class="blog-post-wrapper">
        <div class="blog-post-content-wrapper first">
          <div class="blog-post-content-block w-richtext">
            <%= @testimonial.body.html_safe %>
          </div>
        </div>
        <div class="blog-post-content-wrapper w-clearfix"><img class="blog-author-photo" src="<%= @testimonial.author.avatar_url %>">
          <div class="blog-author-title w-hidden-tiny">Témoignage partagé par :</div>
          <%= link_to(@testimonial.author.pseudo, @testimonial.author, class: "blog-author-title-link") %>
          <div class="blog-author-title job-title"><%= @testimonial.author.title %></div>
        </div>
      </div>
    </div>
  </div>
