<footer>
    <div class="container footer">
        <nav>
            <ul>
                <li>
                    <%= link_to 'A propos', home_path %>
                </li>
                <li>
                    <%= link_to 'C.G.U.', cgu_path %>
                </li>
                <li>
                    <%= link_to 'Politique de confidentialité', confidentiality_path %>
                </li>
                <li>
                    <%= link_to 'Notre équipe', team_path %>
                </li>
                <li>
                    <%= link_to 'Dernière actu', news_path %>
                </li>
               <li>
                    <%= link_to 'Contactez-nous', contact_path %>
                </li>
            </ul>
        </nav>
        <div id="copyright">
            © 2017 - search engine by <%= link_to "Algolia", "https://www.algolia.com/" %> - Made with lot of ❤️ at <%= link_to "THP", "https://thehackingproject.herokuapp.com/" %>
        </div>
    </div>
</footer>
