<header>
  <div class="header-wrapper">
    <div data-collapse="none" data-animation="default" data-duration="400" class="top-navbar w-nav">
      <div class="w-container">
        <nav role="navigation" class="top-nav-menu w-nav-menu">
          <!-- Later when we have phone number for bilobaba -->
          <a href="#" class="top-nav-link w-inline-block" style="display: none">
            <div class="top-nav-title icon"></div>
            <div class="top-nav-title">06 63 21 61 65</div>
          </a>
          <%= link_to contact_path, class: "top-nav-link w-inline-block" do %>
            <div class="top-nav-title icon"></div>
            <div class="top-nav-title">Ecrivez-nous</div>
          <% end %>
        </nav>
        <div class="top-bar-text w-hidden-small w-hidden-tiny">Des propositions chaque jour !</div><a href="our-courses/courses-featured.html" class="top-bar-link w-hidden-small w-hidden-tiny">Voir les cours vedettes →</a>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div data-collapse="medium" data-animation="over-right" data-duration="400" data-doc-height="1" class="navbar w-nav">  <div class="w-container"  style="display: flex; justify-content:space-between !important; width: 100%; padding: 0px !important; margin: 0px !important; border: 0px !important">
        <div>
        <a href=<%= home_awesome_path %> class="logo-block w-nav-brand">
          <%= image_set_tag "logo-fin.png", {"logo-fin.png" => "500w", "logo-fin.png" => "800w"},
          sizes: "(max-width: 479px) 93vw, (max-width: 767px) 171.109375px, (max-width: 991px) 192.5px, 235.28125px",
          class: "image-logo" %>
        </a>
        </div>
        <div>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <%= link_to "Accueil", home_awesome_path, class: "nav-link w-nav-link" %>
          <%= link_to "Propositions", events_path, class: "nav-link w-nav-link" %>
          <%= link_to "Témoignages", testimonials_path, class: "nav-link w-nav-link" %>
          <%= link_to "Membres", members_path, class: "nav-link w-nav-link" %>

          <%= link_to "Tarifs", pricing_path, class: "nav-link w-nav-link" %>
          <!-- <%= link_to "FAQs", faqs_path, class: "nav-link w-nav-link" %> -->

          <div data-delay="0" data-hover="1" class="dropdown w-dropdown">
            <div class="nav-link dropdown-toggle w-dropdown-toggle">
              Connexion
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <% if member_signed_in? %>
                <%= link_to "Je me déconnecte", destroy_member_session_path, method: :DELETE, class: "dropdown-link w-dropdown-link"%>
                <%= link_to "Mon profil", member_path(current_member), class: "dropdown-link w-dropdown-link" %>
              <% else %>
                <%= link_to "Je me connecte", new_member_session_path, class: "dropdown-link w-dropdown-link" %>
                <%= link_to "Je m'inscrits", new_member_registration_path, class: "dropdown-link w-dropdown-link" %>
              <% end %>
            </nav>
          </div>

        </nav>
        </div>
        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu" style="font-size: 45px; margin:auto"></div>
        </div>
      </div>
    </div>
  </div>
</header>
