<%= stylesheet_link_tag 'navbar' %>

<div class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to home_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo.png', width: "200px" %>
      <% end %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left ">
        <li><%= link_to 'Les propositions', events_path, class: 'menu_item' %></li>
        <li>
          <div class="dropdown">
            <div type="button" class="menu_item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              La communauté
              <span class="caret"></span>
            </div>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><%= link_to 'Les proposants', pros_path %></li>
              <li><%= link_to 'Les participants', amateurs_path %></li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Tarif', pricing_path, class: 'menu_item' %>
        </li>
        <li>
          <%= link_to 'Contact', contact_path, class: 'menu_item' %>
        </li>
        <% if member_signed_in? %>
          <li><%= link_to "Mon profil", member_path(current_member), class: 'menu_item' %> </li>
          <li><%= link_to "Déconnexion", destroy_member_session_path, method: :DELETE, class: 'menu_item' %> </li>
        <% else %>
          <li><%= link_to t(".sign_up", default: "Créer un compte"), new_member_registration_path, title: "Créer un compte", class: 'menu_item' %></li>
          <li><%= link_to t(".sign_in", default: "Connectez-vous"), new_member_session_path, title: "Connectez-vous", class: 'menu_item' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render 'layouts/connection', title: 'Se connecter / S\'inscrire' %>
