<div class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to  '/', class: 'navbar-brand' do %>
        <%= image_tag 'logo-final.png', width: "90px" %>
      <% end %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left ">
        <li class="<%= 'active' if controller_name == 'events' %>">
          <%= link_to "Evènements", events_path %>
        </li>
        <li class="<%= 'active' if controller_name == 'members' %>">
          <%= link_to "Professeurs", members_path(pro: 1) %>
        </li>
        <li class="<%= 'active' if controller_name == 'members' %>">
          <%= link_to "Membres", members_path(pro: 0) %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Contact', pages_contact_path %>
        </li>
        <% if member_signed_in? %>
          <li class="<%= 'active' if controller_name == 'members' %>"> <%= link_to "Profil", member_path(current_member) %> </li>
          <li> <%= link_to "Déconnexion", destroy_member_session_path, method: :DELETE %> </li>
        <% else %>
          <!-- Sign up text link -->
          <li>
            <%= link_to t(".sign_up", default: "Sign up"), new_member_registration_path, title: "Créer un compte"%>
          </li>

          <!-- Login text link -->
          <li>
            <%= link_to t(".sign_in", default: "Login"), new_member_session_path, title: "Connectez-vous"%>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
