<header>
  <div class="header-wrapper">
    <div data-collapse="none" data-animation="default" data-duration="400" class="top-navbar w-nav">
      <div class="w-container">
        <nav role="navigation" class="top-nav-menu w-nav-menu">
          <a href="#" class="top-nav-link w-inline-block">
            <div class="top-nav-title icon"></div>
            <div class="top-nav-title">06 63 21 61 65</div>
          </a>
          <a href="#" class="top-nav-link w-inline-block">
            <div class="top-nav-title icon"></div>
            <div class="top-nav-title">hello.bilobaba@gmail.com</div>
          </a>
        </nav>
        <div class="top-bar-text w-hidden-small w-hidden-tiny">Des propositions chaque jour !</div><a href="our-courses/courses-featured.html" class="top-bar-link w-hidden-small w-hidden-tiny">Voir les cours vedettes →</a>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div data-collapse="medium" data-animation="over-right" data-duration="400" data-doc-height="1" class="navbar w-nav">
      <div class="w-container">
        <a href="index.html" class="logo-block w-nav-brand">
          <%= image_set_tag "logo-fin.png", {"logo-fin.png" => "500w", "logo-fin.png" => "800w"},
          sizes: "(max-width: 479px) 93vw, (max-width: 767px) 171.109375px, (max-width: 991px) 192.5px, 235.28125px",
          class: "image-logo" %>
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <%= link_to "Accueil", home_awesome_path, class: "nav-link w-nav-link" %>

          <!-- Item different different depending on controller == events -->
          <% if controller_name == "events" %>
            <div data-delay="0" data-hover="1" class="dropdown w-dropdown">
              <div class="nav-link dropdown-toggle w-dropdown-toggle">
                <div>Propositions</div>
                <div class="dropdown-icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <a href="our-courses/courses-listview.html" class="dropdown-link w-dropdown-link">Courses (List View)</a>
                <a href="our-courses/courses-grid-view.html" class="dropdown-link w-dropdown-link">Courses (Grid View)</a>
                <a href="our-courses/courses-featured.html" class="dropdown-link w-dropdown-link">Featured Courses</a>
                <a href="our-courses/categories.html" class="dropdown-link w-dropdown-link">Categories</a>
              </nav>
            </div>
          <% else %>
            <%= link_to "Propositions", events_path, class: "nav-link w-nav-link" %>
          <% end %>


          <!-- Item different different depending on controller == testimonials -->
          <% if controller_name == "testimonials" %>
            <div data-delay="0" data-hover="1" class="dropdown w-dropdown">
              <div class="nav-link dropdown-toggle w-dropdown-toggle">
                <div>Témoignages</div>
                <div class="dropdown-icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <a href="our-courses/courses-listview.html" class="dropdown-link w-dropdown-link">Témoignages (List)</a>
                <a href="our-courses/courses-grid-view.html" class="dropdown-link w-dropdown-link">Témoignages (Grid)</a>
                <a href="our-courses/courses-featured.html" class="dropdown-link w-dropdown-link">Témoignages remarqués</a>
                <a href="our-courses/categories.html" class="dropdown-link w-dropdown-link">Catégories</a>
              </nav>
            </div>
          <% else %>
            <%= link_to "Témoignages", testimonials_path, class: "nav-link w-nav-link" %>
          <% end %>

          <%= link_to "Tarifs", pricing_path, class: "nav-link w-nav-link" %>
          <%= link_to "FAQs", faqs_path, class: "nav-link w-nav-link" %>
          <%= link_to "écrivez-nous", contact_path, class: "nav-link w-nav-link" %>
        </nav>

        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
</header>
