<!DOCTYPE html>
<html>
  <head>
    <title>Bilobaba</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>

  </head>

  <body>

    <div id="background_top">
      <%= render '/layouts/navbar' %>
      <h1><%= @h1_title %></h1>
    </div>

    <%= render 'shared/flashes' %>

    <%= yield %>
    
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=' + ENV['GOOGLE_API'], async: true, defer: true, 'data-turbolinks-eval': false %>
  </body>
</html>
