<!DOCTYPE html>
<html>
  <head>
    <title>Bilobaba</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>

  </head>

  <body>
    <%= render '/layouts/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
