<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112119547-1"></script>

    <!-- jquery & Calendar-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112119547-1');
    </script>

    <title>Bilobaba</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.css">

    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@1/dist/instantsearch-preact.min.js"></script>

    <%= stylesheet_link_tag "jquery.calendars.picker.css" %>
    <%= javascript_include_tag "jquery.plugin.js" %>
    <%= javascript_include_tag "jquery.calendars.js" %>
    <%= javascript_include_tag "jquery.calendars.all.js" %>
    <%= javascript_include_tag "jquery.calendars.plus.js" %>
    <%= javascript_include_tag "jquery.calendars.picker.js" %>
    <%= javascript_include_tag "jquery.datepick-fr.js" %>

  </head>

  <% if current_page?(home_path) %>
  <body id="background_home">
    <%= render '/layouts/navbar' %>
  <% else %>
  <body>
    <div id="background_top">
      <%= render '/layouts/navbar' %>
      <h1><%= @h1_title %></h1>
    </div>
    <%= render 'shared/flashes' %>
  <% end %>

    <%= yield %>

    <% if !current_page?(home_path) %>
      <%= render '/layouts/footer' %>
    <% end %>

    <!-- load the google map API, only once (see data-turbolinks-eval = false) -->
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=' + ENV['GOOGLE_API'], async: true, defer: true, 'data-turbolinks-eval': false %>
  </body>
</html>
