<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112119547-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112119547-1');
    </script>

    <title>Bilobaba</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <% if current_page?(root_path) %>
  <body id="background_home">
    <%= render '/layouts/navbar' %>
  <% else %>
  <body>
    <div id="background_top">
      <%= render '/layouts/navbar' %>
      <h1><%= @h1_title %></h1>
    </div>
    <%= render 'shared/flashes' %>
  <% end %>

    <%= yield %>

    <% if !current_page?(root_path) %>
      <%= render '/layouts/footer' %>
    <% end %>

    <!-- load the google map API, only once (see data-turbolinks-eval = false) -->
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=' + ENV['GOOGLE_API'], async: true, defer: true, 'data-turbolinks-eval': false %>
  </body>
</html>
