<!DOCTYPE html>
<html>
  <head>
    <title>Bilobaba</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>

  </head>

  <% if current_page?(root_path) %>
    <body class="home">
  <% else %>
    <body>
  <% end %>

    <% if current_page?(root_path) %>
      <%= render '/layouts/navbar' %>
    <% else %>
      <div id="background_top">
        <%= render '/layouts/navbar' %>
        <h1><%= @h1_title %></h1>
      </div>
      <%= render 'shared/flashes' %>
    <% end %>

    <%= yield %>

    <% if !current_page?(root_path) %>
      <%= render '/layouts/footer' %>
      <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=' + ENV['GOOGLE_API'], async: true, defer: true, 'data-turbolinks-eval': false %>
    <% end %>
  </body>
</html>
