<%= link_to member do %>
    <div class="member">
        
        <% if member.avatar.url.present? %>
            <div class="avatar" id="avatar_<%= member.id %>">
                <%= cl_image_tag member.avatar.file.public_id, width: 300, height: 300, crop: :fill %>
            </div>
            <div class="pseudo pseudo_hidden" id="pseudo_<%= member.id %>">
                <%= member.pseudo[0..10] %>
            </div>
        <% else %>
            <div class="pseudo" id="pseudo_<%= member.id %>">
                <%= member.pseudo[0..10] %>
            </div>
        <% end %>
        
        
    </div>
<% end %>

