<%= stylesheet_link_tag 'member' %>

<div class="container">
  <div id="show_member">
    <div id="avatar">
      <% if @member.avatar.url.present? %>
        <%= cl_image_tag @member.avatar.file.filename, width: 150, height: 150, title: @member.pseudo %>
      <% else %>
        <%= cl_image_tag 'eyht3fmfxk8b1o3zsykt.png', width: 150, height: 150, title: @member.pseudo %>
      <% end %>
    </div>
    <div id="description">
      <p><span id="pseudo"><%= @member.pseudo %></span></p>
      <p><%= @member.bio %></p>
      <p></p>
    </div> 
  </div>

  <div id="links">
    <%= link_to 'Back', :back, class: 'badge' %>
  </div>

  <div id="events">
    <% if !@member.has_role?(:professional) %>
      <h2>Cours à venir (participant)</h2>
      <%= render partial: "events/events", locals: { events_partial: @member.attend_events } %>
    <% end %>
    <h2>Cours à venir (organisateur)</h2>
    <%= render partial: "events/events", locals: { events_partial: @member.organize_events } %>
  </div>
</div>

