<%= stylesheet_link_tag 'member' %>
<%= stylesheet_link_tag 'events' %>

<div class="container">
  <div id="show_member">
    <div id="avatar">
      <% if @member.avatar.url.present? %>
        <%= cl_image_tag @member.avatar.file.public_id, width: 150, height: 150, crop: :fill, title: @member.pseudo  %>
      <% else %>
        <%= cl_image_tag 'eyht3fmfxk8b1o3zsykt.png', width: 150, height: 150, title: @member.pseudo %>
      <% end %>
    </div>
    <div id="description">
      <p><span id="pseudo"><%= @member.first_name.capitalize %> <%= @member.name.upcase %>
          </span></p>
      <p><%= simple_format(@member.bio) %></p>
      <p> <% if @member.site %> <%= link_to(@member.site, "http://#{@member.site}") %> <% end %> </p>
      <p></p>
    </div>
  </div>

  <div id="links">
    <%= link_to 'Retour', session[:request_back], class: 'badge' %>
    <%= link_to 'Editer', edit_member_registration_path, class: 'badge' if current_member == @member %>
  </div>

  <div id="events">
    <% if !@member.has_role?(:professional) %>
      <h2>Participation aux évènements</h2>
      <% if @member.attend_events.where('\'end\' >= ?', Time.now).size > 0 %>
        <%= render partial: "events/events", locals: { events_partial: @member.next_events_attend } %>
      <% else %>
        <p>Aucun évènement à venir<br />
          <%= link_to '> voir la liste des évènements', events_path %>
        </p>
      <% end %>
    <% end %>
    <button type="button" class="btn btn-info" style="background-color: #258787" data-toggle="collapse" data-target="#next_events">Liste des propositions à venir</button>
    <button type="button" class="btn btn-info" style="background-color: #258787" data-toggle="collapse" data-target="#past_events">Liste des propositions passées</button>

    <div id="next_events" class="collapse in">
      <h2>Liste des propositions à venir</h2>
        <% if @member.next_events_t_o.size > 0 %>
          <%= render partial: "events/events", locals: { events_partial: @member.next_events_t_o } %>
        <% else %>
          <p>Aucun évènement à venir </p>
        <% end %>
    </div>
    <div id="past_events" class="collapse">
      <h2>Liste des propositions passées </h2>
        <% if @member.past_events_t_o.size > 0 %>
          <%= render partial: "events/events", locals: { events_partial: @member.past_events_t_o } %>
        <% else %>
          <p>Aucun évènement passé </p>
        <% end %>
    </div>
  </div>
</div>
