  <div class="page-header teacher">
    <div class="page-header-overlay color">
      <div class="container teacher-container w-container">
        <div class="teacher-photo-block"  style="background-image: url(<%= @member.avatar_url %>)"></div>
        <h2 data-ix="fade-in-on-load" class="page-header-title teacher-name"><%= @member.pseudo %></h2>
        <h2 data-ix="fade-in-on-load-2" class="page-subtitle teacher-subtitle"> <%= @member.title %></h2>
        <div data-ix="fade-in-on-load-3" class="short-teacher-biography css-tag" >
          <% if @member.categories.count > 0 %>
            <div data-ix="fade-in-on-load-2" class="course-category-title">Categories : </div>
                <div data-ix="fade-in-on-load-2" class="course-category" href="" title="">
                <%= @member.categories.join(', ') %>
                </div>
              <br/><br/>
          <% end %>
          <div data-ix="fade-in-on-load-3" class="short-teacher-biography"><%= simple_format(@member.bio.html_safe)  %></div>

          <% if current_member == @member %>
            <%= link_to "MODIFIER VOTRE PROFIL", edit_member_registration_path, class: "btn btn-primary w-button", style: "font-size: 100%; width:250px; margin:auto "%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @next_workshops.size > 0  %>
    <div class="section tint">
      <div class="container w-container">
        <div class="section-title-wrapper">
          <h2 class="section-title">Ses prochains stages</h2>
          <h2 class="section-title subtitle with-name first"></h2>
          <h2 class="section-title subtitle with-name">pour approfondir la démarche :</h2>
          <div class="section-title-divider"></div>
        </div>
        <div class="w-dyn-list">
          <%= render partial: 'events/workshop_sum_very_large', collection: @next_workshops, as: :event %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @next_events.size > 0 %>
    <div class="section">
      <div class="container w-container">
        <div class="section-title-wrapper">
          <h2 class="section-title">Ses prochaines propositions</h2>
          <h2 class="section-title subtitle with-name">à découvrir</h2>
          <div class="section-title-divider"></div>
        </div>
        <div class="w-dyn-list">
          <%= render partial: '/events/event_sum_very_large', collection: @next_events, as: :event %>
        </div>
      </div>
    </div>
  <% end %>


  <% if @past_activities.size > 0 %>
    <div class="section">
      <div class="container w-container">
        <div class="section-title-wrapper">
          <h2 class="section-title">Ses activités passées</h2>
          <h2 class="section-title subtitle with-name">pour se faire une idée</h2>
          <div class="section-title-divider"></div>
        </div>
        <div class="w-dyn-list">
          <%= render partial: '/events/event_sum_very_large', collection: @past_activities, as: :event %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @testimonials_about.size > 0 %>
    <div class="section">
      <div class="container w-container">
        <div class="section-title-wrapper">
          <h2 class="section-title">On a écrit sur <%= @member.male? ? "lui" : "elle" %></h2>
          <h2 class="section-title subtitle with-name">dans un témoignage</h2>
          <h2 class="section-title subtitle with-name"></h2>
          <div class="section-title-divider"></div>
        </div>
        <div class="w-dyn-list">
          <%= render partial: '/testimonials/testimonial', collection: @testimonials_about, as: :testimonial %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @testimonials_by.size > 0 %>
    <div class="section">
      <div class="container w-container">
        <div class="section-title-wrapper">
          <h2 class="section-title"><%= @member.male? ? "Il" : "Elle" %> a partagé des témoignages</h2>
          <h2 class="section-title subtitle with-name">qui peuvent vous intéresser</h2>
          <h2 class="section-title subtitle with-name"></h2>
          <div class="section-title-divider"></div>
        </div>
        <div class="w-dyn-list">
          <%= render partial: '/testimonials/testimonial', collection: @testimonials_by, as: :testimonial %>
        </div>
      </div>
    </div>
  <% end %>
<div class="section">
  <%= render 'comments/form', commentable: @member %>
</div>
