  <div class="page-header teacher">
    <div class="page-header-overlay color">
      <div class="container teacher-container w-container">
        <div class="teacher-photo-block"  style="background-image: url(<%= @member.avatar_url %>)"></div>
        <h2 data-ix="fade-in-on-load" class="page-header-title teacher-name"><%= @member.pseudo %></h2>
        <h2 data-ix="fade-in-on-load-2" class="page-subtitle teacher-subtitle"> <%= @member.title %></h2>
        <div data-ix="fade-in-on-load-3" class="short-teacher-biography"><%= simple_format(@member.bio.html_safe)  %>
        </div>
      </div>
    </div>
  </div>

  <% if @next_workshop %>
    <div class="section tint">
      <div class="container w-container">
        <div class="section-title-wrapper">
          <h2 class="section-title">Son prochain stage</h2>
          <h2 class="section-title subtitle with-name first"></h2>
          <h2 class="section-title subtitle with-name">pour approfondir la démarche :</h2>
          <div class="section-title-divider"></div>
        </div>
        <div class="w-dyn-list">
          <%= render "layouts/event_sum_very_large", workshop: @next_workshop %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @next_events.size > 0 %>
    <div class="section">
      <div class="container w-container">
        <div class="section-title-wrapper">
          <h2 class="section-title">Ses prochaines propositions</h2>
          <h2 class="section-title subtitle with-name">à découvrir</h2>
          <div class="section-title-divider"></div>
        </div>
        <div class="w-dyn-list">
          <%= render '/events/events', list_events: @next_events %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @testimonials_about.size > 0 %>
    <div class="section">
      <div class="container w-container">
        <div class="section-title-wrapper">
          <h2 class="section-title">On a écrit sur lui</h2>
          <h2 class="section-title subtitle with-name">dans un témoignage</h2>
          <h2 class="section-title subtitle with-name"></h2>
          <div class="section-title-divider"></div>
        </div>
        <div class="w-dyn-list">
          <%= render '/testimonials/testimonials', list_testimonials: @testimonials_about %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @testimonials_by.size > 0 %>
    <div class="section">
      <div class="container w-container">
        <div class="section-title-wrapper">
          <h2 class="section-title"><%= @member.male? ? "Il" : "Elle" %> a partagé des témoignages</h2>
          <h2 class="section-title subtitle with-name">qui peuvent vous intéresser</h2>
          <h2 class="section-title subtitle with-name"></h2>
          <div class="section-title-divider"></div>
        </div>
        <div class="w-dyn-list">
          <%= render '/testimonials/testimonials', list_testimonials: @testimonials_by %>
        </div>
      </div>
    </div>
  <% end %>
