  <div class="page-header teacher">
    <div class="page-header-overlay color">
      <div class="container teacher-container w-container">
        <div class="teacher-photo-block"  style="background-image: url(<%= @member.avatar_url %>)"></div>
        <h2 data-ix="fade-in-on-load" class="page-header-title teacher-name"><%= @member.pseudo %></h2>
        <h2 data-ix="fade-in-on-load-2" class="page-subtitle teacher-subtitle"> <%= @member.title %></h2>
        <div data-ix="fade-in-on-load-3" class="short-teacher-biography"><%= simple_format(@member.bio.html_safe)  %>
        </div>
      </div>
    </div>
  </div>
  <div class="section tint">
    <div class="container w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Upcoming Events</h2>
        <h2 class="section-title subtitle with-name first"></h2>
        <h2 class="section-title subtitle with-name">is present at the following upcoming events:</h2>
        <div class="section-title-divider"></div>
      </div>
      <div class="w-dyn-list">
        <div class="w-dyn-items">
          <div class="event-item w-dyn-item">
            <a class="event-image-block w-inline-block">
              <div class="event-date-block w-clearfix">
                <div class="event-date-title"></div>
                <div class="event-date-title month"></div>
                <div class="event-date-title month"></div>
              </div>
            </a>
            <div class="event-info-block"><a class="event-title-link"></a>
              <div class="event-info-wrapper">
                <div class="course-info-icon"></div>
                <div class="event-info-title"></div>
                <div class="course-info-icon"></div>
                <div class="event-info-title"></div>
                <div class="event-info-title">-</div>
                <div class="event-info-title"></div>
              </div>
              <div class="event-info-wrapper">
                <div class="course-info-icon"></div>
                <div class="event-info-title"></div>
              </div><a class="button events-learn-more w-button">Learn more</a></div>
          </div>
        </div>
        <div class="empty-state w-dyn-empty">
          <p>No upcoming events scheduled yet.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container w-container">
      <div class="section-title-wrapper">
        <h2 class="section-title">Courses</h2>
        <h2 class="section-title subtitle with-name">Showing all courses by</h2>
        <h2 class="section-title subtitle with-name"></h2>
        <div class="section-title-divider"></div>
      </div>
      <div class="w-dyn-list">
        <div class="w-clearfix w-dyn-items w-row">
          <div class="courses-list-item w-dyn-item w-col w-col-3">
            <div class="course-block-wrapper auto-height">
              <a class="course-image-link-block w-inline-block">
                <div class="teacher-overlay-block w-clearfix"><img class="teacher-overlay-photo">
                  <div class="teacher-overlay-title"></div>
                </div>
                <div class="featured-label">Featured</div>
              </a>
              <div class="course-content-block"><a class="course-title-link"></a></div>
              <div class="course-content-block _2">
                <div class="course-info-icon"></div>
                <div class="course-info-title"></div>
                <div class="course-info-icon"></div>
                <div class="course-info-title"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="empty-state w-dyn-empty">
          <p>No courses with this teacher yet.</p>
        </div>
      </div>
    </div>
  </div>

<p> cl_image_tag(@member.avatar) </p>
<p> <%= cl_image_tag(@member.avatar)%></p>
<p> cl_image_tag(@member.avatar.url</p>
<p> <%= cl_image_tag(@member.avatar.url)%></p>

<p> cl_image_tag(@member.avatar, :width=> 100, :height=> 100, :crop=>"fill", :gravity=>"faces") </p>
<p> <%= cl_image_tag(@member.avatar, :width=> 100, :height=> 100, :crop=>"fill", :gravity=>"faces")%></p>
<p>cl_image_tag(@member.avatar.url, :width=> 100, :height=> 100, :crop=>"fill", :gravity=>"faces")</p>
<p> <%= cl_image_tag(@member.avatar.url, :width=> 100, :height=> 100, :crop=>"fill", :gravity=>"faces")%></p>
